/*
------------------------------------------------------------
Override grid settings for Header, Footer and Homepage Map
------------------------------------------------------------
*/

#page,
#map-embed{
  height: 100%;
}

#zone-navbar, /* occupy.net navbar */
#region-navbar, /* occupy.net navbar */
#zone-header,
#zone-footer,
.front #zone-content,
.front #region-content,
#directory-map-wrapper,
#map-embed,
#region-footer-first,
footer{
  width: 100%;
  padding: 0;
  margin: 0;
}


header .ajax-register-links li.last {
  display:none !important;
}

/*
-------------------------
Links
-------------------------
*/

a:link{ color: #222; }
a:visited { color: #333; }

a:hover,
a:active {
  color: #000;
  text-decoration: none;
}

h1 a,
h2.site-name a{
  text-decoration: none;
}


/*
-------------------------
Header
-------------------------
*/

header{
  position: static;
  background: #fc0;
  height: 56px;
}

.not-logged-in header{
  height: 86px;
}

/* undo grid bits where necessary
in an ideal world, omega would have a checkbox that simply says
no grid for this zone/region/section just cause you are using a grid
doesn't mean everything falls into it.
Zen here I come!
*/

#region-header,
.branding-data,
.logo-img,
#block-ajax-register-ajax-register-block {
  margin: 0 0 0 0;
  width: auto;
  float: left;
}

.logo-img{
  z-index: 901;
  position: absolute;
  top: -5px;
}

#region-branding{
  width: 564px;
}

.site-name-slogan{
  margin-left: 7em;  
}

.site-slogan {
  position: absolute;
  top: -1000px;
}

#region-menu{ 
  float: right;
  margin: 0;
}


/*
-------------------------
Occupation Count Box
-------------------------
*/

#block-boxes-occupation-count {
  display: inline-block;
  background: #000;
  margin: 0 0 0 2em;
  padding: .375em .5em .25em .5em;
}

#block-boxes-occupation-count h4{
  color: #fc0;
  margin-bottom: .25em;
}

/*
------------
Navigation
------------
*/

nav.navigation {
  position: relative;
  float: left;
  height: 56px;
}

nav.navigation ul,
nav.navigation li {
  height: 56px;
}

nav.navigation ul{
  border-left: 1px #000 solid;
}

nav.navigation li{
  display: block;
  float: left;
  margin: 0 0 0 0;
  border-right: 1px #000 solid;
}

nav.navigation li a{
  display: block;
  padding: 1em .75em .7125em .75em;
  text-decoration: none;
}

nav a.active { background: #000; color: #fc0; }
nav a:hover { background-color: #000; color: #fc0; }

#block-ajax-register-ajax-register-block{
  padding: .575em 1em 0 1em;
  background: #f9b018;
  line-height: 1.2;
}

#block-ajax-register-ajax-register-block ul li{
  margin-left: 0;
}

/* Tabs */

.tabs{}

.tabs.primary{
  position: fixed;
  z-index: 905;
  left: 0;
  top: 45%;
  font-size: 1.125em;
}

/*.tabs ul{
  border-bottom: 1px #dedede solid;
}
*/
.tabs ul li{
  display: block;
  clear: both;
  margin: 0 0 1px 0;
}

.tabs ul li:first-child{
  margin:0 0 0 0;
}

.tabs ul li a{
  display: block;
  text-decoration: none;
  border-radius: .125em;
  padding: .25em .5em;
  background: #dedede;
  color: #aaa;
}

.tabs ul li a.active,
.tabs ul li a:hover{
  background: #000;
  color: #fc0;
}

/* Menus */

.block-user-menu ul li {
  list-style-type: none;
  display: inline-block;
  background: #efefef;
  padding: .25em .5em;
  margin-left: 1em;
  float: right;
  border-radius: 0 0 .4em .4em;
  -moz-border-radius: 0 0 .4em .4m;
  -webkit-border-radius: 0 0 .4em .4em;
}
.block-user-menu ul li a:link, 
.block-user-menu ul li a:visited {
  color: #aaa;
}
.block-user-menu ul li a:hover {
  color: #000;
  text-decoration:none;
}
.region-user-second ul li a{
 color: black;
}

.region-user-second {
 margin-top: 1em;
}


/*
--------
Content
--------
*/


#region-content{
  margin: 0;
  padding: 0;
}

.not-front #region-content{
  padding-bottom: 12em;  
}

.zone-preface-wrapper {
 background-color: #d0d0d0;
}


/*
----------------------------------
Map
----------------------------------
*/
#directory-map-wrapper{
  background: #aaa;
}

/*
----------------------------------
Occupation Node Detail Formatting
----------------------------------
*/

article p { /* affect all node types */
  margin-bottom: 1em;
}
.block article h2 {
  margin: 1.25em 0 .5em;
}

.field-group-format.grouplinks {
 margin-bottom: 1em;
}

.node-type-occupation .node .content.grid-6 {
 margin-left: 0;
}

.field-group-format.grouplinks a{
  display: inline-block;
  margin-bottom: .25em;
  max-width: 90%;
  overflow: hidden;
  padding: .25em .75em;
  text-decoration: none;
  text-transform: lowercase;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
}

.field-group-format.grouplinks a:hover{
 background-color: #d0d0d0;
 text-decoration: none;
 color: black;
}

/*#block-menu-menu-feeds-and-exports li a:hover{
 background-color: #000;
 text-decoration: none;
 color: #efefef;
}*/

.field-name-field-occupation-website {
  padding-bottom: 1em;
}

.field-name-field-occupation-image {
 float: right;
 padding-left: 1em;
 padding-bottom: 1em;
 padding-top: 1em;
}

.field-group-format.group_donate_info,
.field-group-format .field-name-field-occupation-address {
 margin: 1em 0;
}

.field-group-format .field-name-field-occupation-general-info .field-label{
 font-weight: bold;
 font-style: italic;
}

.content a:link {
 text-decoration: none;
}
.content a:hover {
 text-decoration: underline;
}


.node-occupation .node-links {
  margin-top: 1.5em;
}
.node-occupation .node-links li.last a {}


.context-get-involved .block-webform h2.node-title {
  display:none;
}


/*
----------------------------------
Comments
----------------------------------
*/

article.comment {
  margin-bottom: 1.5em;
}
article.comment header h3 {
  margin: 0;  padding: 0;
}

article.comment footer { /* author + date */
  font-style:italic;
  margin-bottom:1.25em;
  color: #666;
}
article.comment .field-name-field-comment-state {
  background-color: #d6ff7d;
  padding: 5px 10px;
  display:inline-block;
}
article.comment nav.comment-links {
  margin-top: 1em;
}

/* hide log in or register to post comments since we use talk */
/*
article.comment nav.comment-links li.comment_forbidden {
	display: none;
}
*/

/*
Talk messes up the $node->content['links']['comment']['#links']
array and override the comment_forbidden key. CSS to the rescue for now.
*/

.node-occupation .node-links .first {
  display: none;
}

#comments h2.title {
  display: none;
}

div.talk-page li.comment_forbidden,
div.talk-page li.comment-add {
  display: inline-block;
  padding: 1em 0 1em 0;
  font-style:italic;
}
div.talk-page li.comment-add:before {
  content: "+ ";
}


/*
----------------------------------
Pager
----------------------------------
*/

.block .view ul.pager {
  margin-top:.5em;
}


/*
------------------------------------
Views
Exposed view search form formatting
------------------------------------
*/

#block-views-exp-global-search-page{
  position: relative;
  z-index: 900;
  margin: 0 0 0 0;
  padding: .25em .5em;
  background: #3d3d3d;
  box-shadow: 0px 0px 12px #222;
}

#edit-search-wrapper{
  float: left;
}

#block-views-exp-global-search-page .views-submit-button,
#block-views-exp-global-search-page #edit-submit-global-search{
  padding: 0;
  margin: 0;
}

#block-views-exp-global-search-page .views-submit-button{ margin-top: .5em; }

#block-views-exp-global-search-page #edit-submit-global-search{
  padding: .25em .5em;
}

#views-exposed-form-occupation-directory-occupations-list,
#views-exposed-form-occupation-directory-occupations-manage {
}

#views-exposed-form-occupation-directory-occupations-list label {
 display: inline-block;
 padding: 2em .5em;
}

#views-exposed-form-occupation-directory-occupations-list input,
#views-exposed-form-occupation-directory-occupations-list select,
#views-exposed-form-occupation-directory-occupations-list div {
 margin: 0;
}

#views-exposed-form-occupation-directory-occupations-list div {
 padding: 0;
}

#views-exposed-form-occupation-directory-occupations-list select,
#views-exposed-form-occupation-directory-occupations-manage select {
 max-width: 200px;
}

#views-exposed-form-occupation-directory-occupations-list input.form-submit {
 margin-left: 0 0 0 0;
}

#views-exposed-form-occupation-directory-occupations-list .views-exposed-widgets,
#views-exposed-form-occupation-directory-occupations-manage .views-exposed-widgets {
  margin-bottom: 0;
}

#views-exposed-form-occupation-directory-occupations-list .views-submit-button,
#views-exposed-form-occupation-directory-occupations-manage .views-submit-button {
  margin-left:5em;
}


/*
----------------------------------------------
Occupation Directory Views table listing page
----------------------------------------------
*/

.occupations-list h1.title {
  display: none;
}

div.view-display-id-occupations_list table img {
  padding-right: 8px;
  vertical-align: middle;
}

.list-occupations .view-header,
.manage-comments .view-header {
  margin: 0 0 1em;
  font-style: italic;
}
.list-occupations .view-header .occupation-count {

}

.list-occupations .view-header .occupation-count .occupation-count-span,
.list-occupations .view-header .occupation-count .occupation-count-total {
  padding:0 0.2em;
}
.list-occupations .view-header .curator-utility-links {
  margin-bottom: 0.5em;
  float: right;
  background: #000;
  padding: 0 5px;
}

#edit-items-per-page:after {
  content:"page";
}


/*
--------------
Curator Views
--------------
*/

.manage-occupations tbody, .manage-comments tbody {}

#views-exposed-form-occupation-directory-occupations-manage .views-exposed-widget {
  padding: 0 .8em 0 0;
}

#views-exposed-form-occupation-directory-occupations-manage .form-submit {
  margin-top: 2em;
}
#views-exposed-form-occupation-directory-occupations-manage .form-item-search input {
  width: 200px;
}

.manage-occupations table.views-table,
.manage-comments table.views-table {
  margin-top: 1em;
}

.manage-occupations #edit-select .fieldset-legend,
.manage-comments #edit-select .fieldset-legend {
  display: none;
}

.manage-occupations thead,
.manage-comments thead {
  border: 1px solid #000;
  border-bottom: 4px solid #333;
}

.manage-occupations thead th,
.manage-comments thead th {
  background: #000;
  color:#fff;
}

.manage-occupations th.active,
.manage-comments th.active {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.manage-occupations td,
.manage-comments td {
  padding-top: 8px;
  padding-bottom: 8px;
}


/*
------------------
Total Occupations
------------------
*/

.edit-link {
  display: inline-block;
  float: right;
  margin-right: 35%;
}

.total-occupations tr {
  height: 60px;
  font-style: italic;
  color:#ccc;
}
.total-occupations tr td {
  vertical-align: top;
}
.total-occupations tr.row-first td {
  padding-top:20px;
}
.total-occupations tr td .title {
  margin-bottom: .33em;
  font-style:normal;
}

div.view-display-id-occupations_list table img { }


/* MORE HACKS */

#admin-menu { margin:0 !important; }

/* twitter pull styles */

ul.tweets-pulled-listing {
  list-style: none;
}

ul.tweets-pulled-listing div.tweet-authorphoto {
  margin: 0 4px 0 0;
  float: left;
}
ul.tweets-pulled-listing div.tweet-authorphoto img {
  max-height: 40px;
  max-width: 40px;
}
ul.tweets-pulled-listing .tweet-author a {}
ul.tweets-pulled-listing div.tweet-time { text-align:right; }
ul.tweets-pulled-listing .tweet-time a { color: #d0d0d0; }
ul.tweets-pulled-listing  div.tweet-divider {
  clear: left;
  border-bottom: 1px solid #efefef;
  margin: 6px 0 7px 0;
}




/* -----------------------------------------------------------
	page-occupations-cards
----------------------------------------------------------- */
.page-occupations-cards .views-row {
	float: left;
	width: 220px;
	margin: 10px;
	display: inline-block;
	background: #eee;
	min-height: 400px;
}

.page-occupations-cards .views-row:first-child {
}

/* HACKS */

/* new views pager renders "previous" instead of "prev" */
.pager li.pager-previous a {
    width: 68px;
}

/* Country is renedered outside the wrapper div, so clearing gives us a big
   space when there's an image*/
.addressfield-container-inline:after {
  clear:none;
}


/*
------------------------------------------------------------
Footer
------------------------------------------------------------
*/

footer {
  background: #0af;
  height: 3em;
  position: fixed;
  bottom: 0;
  z-index: 500;
}

footer .block-menu .content a{
  display: block;
  padding: .125em 1em;
  text-decoration: none;
}

footer .block-menu .content a:hover{
  background: #000;
  color: #0af;
}

footer #block-menu-menu-add-your-occupation {
  font-size: 1.25em;
}

footer #block-menu-menu-add-your-occupation .content a{
  display: inline-block;
  padding: .75em 1em;
  border-right: 1px #000 solid;
}

footer #block-menu-menu-add-your-occupation{
  width: 300px;
  float: left;
}

footer #block-menu-menu-social-media-links{
  padding: .75em 2em .5em 2em;
  border-right: 1px #000 solid;
  float: left;
}

footer #block-menu-menu-social-media-links h3.block-title{
  display: none;
}

footer #block-menu-menu-social-media-links ul li{
  display: inline-block;
  width: 24px;
  height: 24px;  
}

footer #block-menu-menu-social-media-links ul li a{
  display: block;
  text-indent: -2000px;
}

footer #block-menu-menu-social-media-links ul li.first.leaf{
  background-image: url( "/sites/all/themes/occupy_directory/images/facebook.png" );
  background-repeat: no-repeat;
}

footer #block-menu-menu-social-media-links ul li.last.leaf{
  background: url( "/sites/all/themes/occupy_directory/images/twitter.png" ) no-repeat;
  background-repeat: no-repeat;
}

footer #block-menu-menu-feeds-and-exports{
  width: 12em;
  float: right;
  padding-bottom: 3em;
  background-color: #0af;
  border-left: 1px #000 solid;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer #block-menu-menu-feeds-and-exports ul li{
  border-bottom: 1px #0076a5 solid;
}

footer #block-menu-menu-feeds-and-exports ul ul li a{
  display: block;
}

footer #block-menu-menu-feeds-and-exports h3{
  margin: .5em 1em .5em .5em;
}

footer #block-menu-menu-feeds-and-exports:hover{
  transform: translate(0,-150px);
  -ms-transform: translate(0,-150px); /* IE 9 */
  -webkit-transform: translate(0,-150px); /* Safari and Chrome */
  -o-transform: translate(0,-150px); /* Opera */
  -moz-transform: translate(0,-150px); /* Firefox */
};