/*
---------------------------------------------------------
Override grid settings
---------------------------------------------------------
*/

#section-content{ clear: both; }

/* hide title in webform */
.context-get-involved .block-webform header { display: none; }


/*
---------------------------------------------------------
Links
---------------------------------------------------------
*/

a:link, a:visited { color: #666; }

#region-sidebar-first a{
  color: #0af;
}

a:hover,
a:active {
  color: #333;
  text-decoration: none;
}

.site-name {
  float: left;
}

.site-name a {
  color: #aaa;
  text-decoration: none;
}
.site-name a:hover {
  color: #f30;
}

.element-invisible { display: none; }


/*
---------------------------------------------------------
Header
---------------------------------------------------------
*/

#zone-header {
  background: #353838;
}

#region-branding,
#region-menu{
  clear: none;
}

.branding-data{
  float: left;
}

.logo-img{
  z-index: 500;
  position: absolute;
  top: 0px;
  padding: 0;
}


.site-name-slogan{
  margin-left: 7em;
}

.site-slogan {
  position: absolute;
  top: -1000px;
}


/*
---------------------------------------------------------
Ajax Login Form
---------------------------------------------------------
*/

#block-ajax-register-ajax-register-block a {
  color: #222;
}

/* modal */

div.ctools-modal-content {
  background: #eee;
}

div.ctools-modal-content .modal-header {
  padding: 1em .575em .575em 1em;
  background-color: #ccc;
  border-bottom: 1px #aaa solid;
}

div.ctools-modal-content a.close {
  width: 24px;
  height: 24px;
  margin: 0;
  position: relative;
  z-index: 900;
  top: -.25em;
  text-decoration: none;
  border-radius: 12px;
  background: #999;
  color: #000;
  box-sizing: border-box;
}

div.ctools-modal-content a.close:after {
  position: relative;
  width: 24px;
  height: 24px;
  left: .275em;
  font-family: Dosis;
  font-weight: 300;
  text-align: center;
  content: "\00d7";
  font-size: 24px;
  line-height: .85;
}

.not-logged-in div.ctools-modal-content .ajax-register-links-wrapper {
  display: none;
}

.not-logged-in div.ctools-modal-content .form-item {
  padding: 0 1em;
}

div.ctools-modal-content a:hover {
  background: #333;
  color: #aaa;
}

div.ctools-modal-content a.close img {
  display: none;
}

div.ctools-modal-content .login-forgot {
  margin: 0 1em;
}

div.ctools-modal-content .edit-submit {
  display: block;
  width: 100%;
}

div.ctools-modal-content .form-actions {
  margin: .5em 0 0 0;
  width: 100%;
  border-top: 1px #aaa solid;
}

div.ctools-modal-content .form-actions input {
  border: none;
  margin: none;
  outline: none;
  border-radius: 0;
  width: 100%;
  background: #dedede;
  color: #000;
  display: inline block;
  margin:  0 0 0 0;
  padding: 1em .75em .7125em .75em;
  text-decoration: none;
  font-family: Dosis;
  font-size: 1.25em;
  font-weight: 300;
}

div.ctools-modal-content .form-actions input:hover {
  background: #333;
  color: #dedede;
  border-bottom: 1px #333 solid;
}

.form-actions input+input {
  border-right: 1px #000 solid;
}


div.ctools-modal-content #modal-content {
  width: 100% !important;
  padding: 0;
  margin: 0;
}


/*
---------------------------------------------------------
Occupation Count Box
---------------------------------------------------------
*/

#block-boxes-occupation-count h4{
  color: #fc0;
  margin-bottom: .25em;
}


/*
---------------------------------------------------------
Navigation
---------------------------------------------------------
*/

nav.navigation {
  float: left;
  height: 100%;
}

nav.navigation ul,
nav.navigation li {
  height: 100%;
  margin-left: 0;
  padding-left: 0;
}

nav.navigation{
  border-left: 1px #000 solid;
}

nav.navigation li {
  display: block;
  float: left;
  margin: 0 0 0 0;
  border-right: 1px #000 solid;
}

nav.navigation li a{
  color: #fc0;
  display: block;
  padding: 1em .75em .7125em .75em;
  text-decoration: none;
}

nav a.active { background: #000; color: #fc0; }
nav a:hover { background-color: #000; color: #fc0; }


/*
---------------------------------------------------------
Tabs
---------------------------------------------------------
*/

#region-content .tabs{
  width: 100%;
  top: 1em;
  z-index: 890;
}

.front #region-content .tabs{
  position: absolute;
  top: 0;
}

.tabs.primary{
  width: 100%;
}

.tabs ul li {
  display: inline-block;
  margin: 0 2px 0 0;
}

.tabs ul li a{
  display: block;
  text-decoration: none;
  border-radius: .125em;
  padding: .25em .5em;
  background: #dedede;
  color: #aaa;
}

.tabs ul li a.active,
.tabs ul li a:hover{
  background: #000;
  color: #fc0;
}


/*
---------------------------------------------------------
Menus
---------------------------------------------------------
*/

.block-user-menu ul li {
  list-style-type: none;
  display: inline-block;
  background: #efefef;
  padding: .25em .5em;
  margin-left: 1em;
  float: right;
  border-radius: 0 0 .4em .4em;
  -moz-border-radius: 0 0 .4em .4em;
  -webkit-border-radius: 0 0 .4em .4em;
}

.block-user-menu ul li a:link,
.block-user-menu ul li a:visited {
  color: #aaa;
}

.block-user-menu ul li a:hover {
  color: #000;
  text-decoration:none;
}

.region-user-second ul li a{
  color: black;
}

.region-user-second {
  margin-top: 1em;
}


/*
---------------------------------------------------------
Occupation Node
---------------------------------------------------------
*/

.owstech-share { margin-bottom: .25em; }

.occupation .ds-left .field-name-field-occupation-email-general,
.occupation .ds-left .field-name-field-occupation-phone-general,
.occupation .ds-left .field-name-field-occupation-origin-date,
.group-occupation-description,
.field-name-field-occupation-description {
  margin-bottom: 1em;
}

.group-occupation-description {
  width: 44em;
}


/*
---------------------------------------------------------
Content
---------------------------------------------------------
*/

#messages:before{
  content: "Messages";
  padding: .75em .5em .25em .5em;
  width: 100%;
  display: block;
  text-align: center;
  background: #000;
  color: #dedede;
  letter-spacing: .125em;
}

#messages {
  border-top: 1px #000 solid;
  position: fixed;
  bottom: -489px;
  z-index: 950;
  margin: 0 auto;
  max-height: 520px;
  overflow: auto;
  -webkit-transition: bottom 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: bottom 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -ms-transition: bottom 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: bottom 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: bottom 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#messages:hover {
  bottom: 0%;
}


#messages div.messages{
  margin: 0;
  background-color: rgba( 255,255,255,.9);
  padding: 1em .5em 1em 2.75em;
}

#messages div.section{
  max-width: 1000px;
  margin: 0 auto;
}

article a:link, article a:visited {
  color: #0af;
}
article a:hover, article a:active {
  color: #666;
}

.zone-preface-wrapper {
 background-color: #d0d0d0;
}


/*
---------------------------------------------------------
Pages
---------------------------------------------------------
*/

aside h3.block-title{
  margin-top: .75em;
  margin-bottom: 1.5em;
  border-bottom: 1px #000 solid;
}


/*
---------------------------------------------------------
Map
---------------------------------------------------------
*/

.front h1.title {
  display: none;
}

#directory-map-wrapper{
  background: #aaa;
}


/*
---------------------------------------------------------
Comments
---------------------------------------------------------
*/

.occupation .comment-add a {
  display: inline-block;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.occupation .comment-add a:hover {
  background: #dedede;
  color: #000;
}

form.comment-form {
  padding: 1em;
  margin: 0 0 1em 0;
  width: 42em;
  background: #dedede;
  box-shadow: 1px 1px 3px #666;
  box-shadow: 1px 1px 3px rgba( 0,0,0,.3);
  -moz-box-shadow: 1px 1px 3px rgba( 0,0,0,.3);
  -webkit-box-shadow: 1px 1px 3px rgba( 0,0,0,.3);
}


form.comment-form .form-item {
    margin:0;
}

form.comment-form .form-actions {
    margin-top: 1em;
}

#suggested-edit-log,
form.comment-form .filter-wrapper{ display: none }


.comment-instructions {
  background: #fe3;
  color: #333;
  width: 25em;
  padding: .5em;
  box-shadow: 1px 1px 2px #aaa;
}

.comment-wrapper{
  font-size: .875em;
}

.comment-wrapper article{
  padding: 1em;
  background: #f5f5f5;
}

.field-name-field-comment-state{
  padding: .25em 0 .5em .5em;
  float: right;
  display: none;
}

#comment-body-add-more-wrapper .links.inline li {
  margin: 0 .5em 0 0;
  display: inline-block;
}

#comment-body-add-more-wrapper .comment-log {
/*  display: none;
*/}

#comment-body-add-more-wrapper .comment-form {
/*  position: absolute;
  top: 0;
  left: 0;
*/}


/*
---------------------------------------------------------
Pager
---------------------------------------------------------
*/

.block .view ul.pager {
  margin-top:.5em;
}

/* new views pager renders "previous" instead of "prev" */
ul.pager li {
  display: inline-block;
  position: relative;
  margin-left: .5em;
  text-align: center;
}

ul.pager li a {
  display: block;
  width: 100%;
  height: 100%;
  width: 20px;
  height: 20px;
}

ul.pager li.pager-item a:hover {
  background: #dedede;
  border-radius: 12px;
}

ul.pager li+li {
  margin-left: .5em;
}

ul.pager li .ajax-progress {
  position: absolute;
  background-position: none;
  border-radius: 12px;
  top: -.25em;
  left: -3px;
  width: 24px;
  height: 24px;
  padding: 0;
  background: #000;
  overflow: hidden;
}

ul.pager li .ajax-progress .throbber{
  width: 20px;
  height: 20px;
  margin: 2px;
  background: transparent url( ../images/spinner.gif ) center center no-repeat;
  background-size: 100%;
  box-sizing: border-box;
}

.pager-last,
.pager-first,
.pager-previous,
.pager-next {
  width: 24px;
  height: 24px;
  word-wrap: nowrap;
  text-indent: -1000px;
}

.pager-first:after,
.pager-last:after,
.pager-previous:after,
.pager-next:after {
  font-size: 18px;
  top: 0;
  display: block;
  position: absolute;
  text-indent: 0;
  content: "\2192";
  z-index: -1;
}

.pager-first:hover:after,
.pager-last:hover:after,
.pager-previous:hover:after,
.pager-next:hover:after {
  color: #fc0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8 );
}

.pager-previous:after {
  content: "\2190";
}

.pager-first:after {
  content: "\21e4";
}

.pager-last:after {
  content: "\21e5";
}

.pager-first:after, .pager-last:after {
    top: .125em;
}

.pager-current {
  line-height: 26px;
  width: 24px;
  height: 24px;
  margin: 0;
  z-index: 990;
  text-decoration: none;
  border-radius: 12px;
  background: #000;
  color: #dedede;
  box-sizing: border-box;
}


/*
---------------------------------------------------------
SOLR Search Facets
---------------------------------------------------------
*/

.solr-search #region-sidebar-first{
  background-color: #222;
}

.block-facetapi{
  background-color: #222;
  padding: 1em;
}

.block-facetapi h3.block-title{
  font-family: PTSans;
  font-size: 14px;
  margin: 0 0 .5em 0;
  padding: 0;
  color: #dedede;
}

.block-facetapi ul{
  margin: 0;
  padding-bottom: .5em;
}

  .block-facetapi .item-list li {
    min-width: 3.5em;
  }

  .block-facetapi .item-list li a {
    text-decoration: none;
  }

  .block-facetapi .item-list li a.facetapi-active {
    color: #fff;
  }


  #block-facetapi-pm5e0jb3duu7bhnhqvsxmxqfuomn3ymq li {
    text-transform: uppercase;
  }


/*
---------------------------------------------------------
Global Search bar
---------------------------------------------------------
*/

#zone-menu .region-search-inner {
  padding: 1em .5em 1em 1em;
}

input#edit-search {
  border-radius: 1em;
  line-height: .875;
  font-family: PTSans, sans-serif;
  border: none;
  padding: 0 .25em 0 1.75em;
  background: url( ../images/search.png ) .25em .25em no-repeat;
}

input#edit-search:after {
  color:#000;
  content: 'Search';
}

#zone-menu .views-submit-button {
  display: none;
}

#region-search .views-submit-button,
#region-search #edit-submit-global-search{
  padding: 0;
  margin: 0;
}

#region-search .views-submit-button{ margin-top: 0; }

#region-search #edit-submit-global-search{
  padding: .25em .5em;
}

#region-search label {
 display: inline-block;
 padding: 0 .5em 0 2em;
 color: #ccc;
}

#region-search input,
#region-search select,
#region-search div {
 margin: 0;
 display: inline;
}

#region-search input,
#region-search select {
  background-color: #efefef;
}

#region-search select {
 max-width: 200px;
}

#region-search input.form-submit {
 margin: 0 0 0 .75em;
}

#region-search .views-exposed-widgets {
  margin-bottom: 0;
}

#region-search .views-exposed-widget {
  padding: 0;
}


/*
---------------------------------------------------------
SOLR Search Results
See ds_layouts/search_result.php
---------------------------------------------------------
*/

.solr-search #page-title {
  margin: .5em .5em .5em 3.25em;
}

.view-directory-global-search {
}


/*
---------------------------------------------------------
Occupation Directory Views table listing page
---------------------------------------------------------
*/

.page-comment h1.title,
.occupations-list h1.title {
  display: none;
}

.occupations-list table {
  width: 100%;
}

div.view-display-id-occupations_list table img {
  vertical-align: middle;
}

.list-occupations .view-header,
.manage-comments .view-header {
  margin: 0 0 1em;
  font-style: italic;
}

.list-occupations .view-header .occupation-count .occupation-count-span,
.list-occupations .view-header .occupation-count .occupation-count-total {
  padding:0 0.2em;
}

.list-occupations .view-header .curator-utility-links {
  margin-bottom: 0.5em;
  float: right;
  background: #000;
  padding: 0 5px;
}

#edit-items-per-page:after {
  content:"page";
}


/*
---------------------------------------------------------
Curator Views
---------------------------------------------------------
*/

.manage-occupations tbody,
.manage-comments tbody {}

#views-exposed-form-occupation-directory-occupations-manage .views-exposed-widget {
  padding: 0 .8em 0 0;
}

#views-exposed-form-occupation-directory-occupations-manage .form-submit {
  margin-top: 2em;
}

#views-exposed-form-occupation-directory-occupations-manage .form-item-search input {
  width: 49em;
}

.manage-occupations table.views-table,
.manage-comments table.views-table {
  margin-top: 1em;
}

.manage-occupations #edit-select .fieldset-legend,
.manage-comments #edit-select .fieldset-legend {
  display: none;
}

.manage-occupations thead,
.manage-comments thead {
  border: 1px solid #000;
  border-bottom: 4px solid #333;
}

.manage-occupations thead th,
.manage-comments thead th {
  background: #000;
  color:#fff;
}

.manage-occupations th.active,
.manage-comments th.active {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.manage-occupations td,
.manage-comments td {
  padding-top: 8px;
  padding-bottom: 8px;
}


/*
---------------------------------------------------------
Total Occupations
---------------------------------------------------------
*/

.edit-link {
  display: inline-block;
  float: right;
  margin-right: 35%;
}


.table-view table {}

.table-view table thead th {
  padding: .5em;
  text-align: left;
}

.table-view table.views-table tr {
  background: #dedede;
  border-bottom: none;
}

.table-view table.views-table tr.odd {
  background: #cfcfcf;
}

.table-view table.views-table tr td {
  padding: .5em;
}

.total-occupations tr td .title {
  margin-bottom: .33em;
  font-style:normal;
}


/*
---------------------------------------------------------
  page-occupations-cards
---------------------------------------------------------
*/

.page-occupations-cards .views-row {
  float: left;
  width: 220px;
  margin: 10px;
  display: inline-block;
  background: #eee;
  min-height: 400px;
}

/*
---------------------------------------------------------
Footer
---------------------------------------------------------
*/

footer#section-footer {
  background: #aaa;
  height: 3em;
  position: fixed;
  bottom: 0;
  z-index: 500;
}

footer#section-footer .block-menu .content a{
  display: block;
  padding: .125em 1em;
  text-decoration: none;
  color: #000;
}

footer#section-footer .block-menu .content a:hover{
  background: #000;
  color: #aaa;
}

footer#section-footer #block-menu-menu-add-your-occupation {
  font-size: 1.25em;
}

footer#section-footer #block-menu-menu-add-your-occupation .content a{
  display: inline-block;
  padding: .75em 1em;
  border-right: 1px #000 solid;
}

footer#section-footer #block-menu-menu-social-media-links{
  padding: .75em 2em .5em 2em;
  border-right: 1px #000 solid;
  float: left;
}

footer#section-footer #block-menu-menu-social-media-links h3.block-title{
  display: none;
}

footer#section-footer #block-menu-menu-social-media-links ul li {
  display: inline-block;
  width: 24px;
  height: 24px;
}

footer#section-footer #block-menu-menu-social-media-links ul li a{
  display: block;
  text-indent: -2000px;
}

footer#section-footer #block-menu-menu-social-media-links ul li.first.leaf{
  background-image: url( "/sites/all/themes/occupy_directory/images/facebook.png" );
  background-repeat: no-repeat;
}

footer#section-footer #block-menu-menu-social-media-links ul li.last.leaf{
  background: url( "/sites/all/themes/occupy_directory/images/twitter.png" ) no-repeat;
  background-repeat: no-repeat;
}


footer#section-footer #block-menu-menu-feeds-and-exports ul li {
  border-bottom: 1px #666 solid;
}

footer#section-footer #block-menu-menu-feeds-and-exports ul ul li a{
  display: block;
}

footer#section-footer #block-menu-menu-feeds-and-exports h3{
  margin: .5em 1em .5em .5em;
}

footer#section-footer #block-menu-menu-feeds-and-exports:hover{
  transform: translate(0,-170px);
  -ms-transform: translate(0,-170px); /* IE 9 */
  -webkit-transform: translate(0,-170px); /* Safari and Chrome */
  -o-transform: translate(0,-170px); /* Opera */
  -moz-transform: translate(0,-170px); /* Firefox */
};


/*
---------------------------------------------------------
Overrides – bending displays to our will
---------------------------------------------------------
*/

/* twitter pull styles */


ul.tweets-pulled-listing {
  list-style: none;
}

#region-sidebar-first div.tweet-time a{
  color: #aaa !important;
  font-size: 10px;
}

ul.tweets-pulled-listing .tweet-author{
  font-weight: bold;
  display: block;
}

ul.tweets-pulled-listing div.tweet-authorphoto {
  margin: 0 .5em 0 0;
  float: left;
  box-shadow: 1px 1px 3px rgba( 0, 0, 0, .3 );
}

ul.tweets-pulled-listing div.tweet-authorphoto{
  display: none;
  height: 40px;
  width: 40px;
}

ul.tweets-pulled-listing div.tweet-authorphoto img {
  display: block;
  height: 40px;
  width: 40px;
}

ul.tweets-pulled-listing  li {
  border-top: 1px solid #dedede;
  padding: 1em 0 .5em 0;
  margin: .5em 0 .5em 0;
}

/* HACKS */

#admin-menu { margin:0 !important; }

/* Country is renedered outside the wrapper div, so clearing gives us a big
   space when there's an image*/
.addressfield-container-inline:after {
  clear:none;
}

.label-inline {
  display: inline-block;
  margin-right: 5px;
}


/*
---------------------------------------------------------
 Icons
---------------------------------------------------------
*/

.icon>legend { margin: 0; padding: 0; }

.icon {
  display: inline-block;
  margin: 0 0 0 .5em;
  vertical-align: top;
}

a.icon,
.icon>a,
.icon h3{
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon h3,
.icon>legend,
.icon>a {
  text-indent: -5000px;
}

.icon>legend,
.icon>a {
  display: block;
}

.icon:first-child {
  margin-left: 0;
}

.icon.email>a,
a.icon.email {
  background: url( '../images/icon_email.png' ) no-repeat;
}

.icon.site>a,
a.icon.site {
  background: url( '../images/icon_site.png' ) no-repeat;
}

.icon.twitter h3 {
  background: url( '../images/icon_twitter.png' ) no-repeat;
}

.icon.facebook h3 {
  background: url( '../images/icon_facebook.png' ) no-repeat;
}

a.icon.toggle-comments {
  opacity: .5;
  width: 16px;
  height: 16px;
  text-indent: -5000px;
  background: url( '../images/icon_commentstoggle.png') no-repeat;
}

a.icon.toggle-comments:hover {
  opacity: 1;
}

a.icon.toggle-comments.open {
  background: url( '../images/icon_commentstoggle.png') top right no-repeat;  
}


/*
---------------------------------------------------------
 Flyout Menu
 Ref http://stackoverflow.com/questions/3032856/z-index-of-before-or-after-to-be-below-the-element-is-that-possible
 Flyout Menu
------------------------------------------------------------
*/

.flyoutmenu {
  vertical-align: top;
  position: relative;
  z-index: 100;
}

.flyoutmenu .field-name-field-occupation-description,
.flyoutmenu .item-wrapper {
  position: absolute;
  top: -8000px;
  left: -8000px;
  font-size: .875em;
  opacity: 0;
  padding: .5em;
  background: #fff;
  box-shadow: 2px 2px 3px rgba( 0, 0, 0, .5 );
  text-indent: 0px;
}

.flyoutmenu:hover {
  z-index: 550;
  cursor: pointer;
}

.flyoutmenu:hover .field-name-field-occupation-description,
.flyoutmenu:hover .item-wrapper {
  -webkit-transition: opacity 375ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: opacity 375ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -ms-transition: opacity 375ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: opacity 375ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: opacity 375ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  opacity: 1;
  left: -1.375em;
  top: 2.125em;
  cursor: default;
 }

.flyoutmenu .field-name-field-occupation-description::before,
.flyoutmenu .item-wrapper::before{
  content: "\25B2";
  position: absolute;
  padding-top: .5em;
  text-align: center;
  z-index: 101;
  left: 1.25em;
  top: -1em;
  clip: rect(0,auto,21px,0);
  color: #fff;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba( 0, 0, 0, .75 );
  rotation: 360deg;
}

.search-result .ds-left .field-name-field-occupation-description {
  top: 2.875em;
  padding: 1em;
  width: 14em;
}

.flyoutmenu .field-name-field-occupation-description::before {
  left: 2em;
}

.link-group a,
.block-facetapi .item-list li,
.occupation .ds-left a,
.item-wrapper a {
  display: inline-block;
  vertical-align: top;
  padding: .5em .75em .25em .75em;
  margin: 0 .125em 2px 0;
  line-height: 1.5;
  background: #000;
  color: #0af;
  text-decoration: none;
  border-radius: .25em;
  width: 14em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 490;
}

.occupation .ds-left .field-name-submitted-by a {
  width: auto;
  background: none;
  display: inline;
  padding: 0;
  text-decoration: underline;
}

.block-facetapi .item-list li{
  overflow: visible;
}

.block-facetapi .item-list li {
  width: auto;
  clear: none;
}

.field-name-field-occupation-field-name-field-occupation-origin-date,
.field-name-field-occupation-phone-general,
.field-type-addressfield { margin-bottom: 1em;}
.field-name-field-occupation-phone-general { margin-top: 1em; }


/*
-------------------------------------
  Markup free clearing.
  @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
-------------------------------------
*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}


/*
-------------------------------------
  Forms
-------------------------------------
*/

.form-actions input {
  margin-right: 0.5em;
}

.form-actions input:hover {
  background: #FFFFFF;
}

label {
  font-weight: bold;
}

.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.resizable-textarea .grippie {
  background: #eee url(/misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

.webform-component {
  margin-bottom: .5em;
}

.form-item {
  margin-top: 1em;
}

.form-item label,
.webform-component label{
  display: inline-block;
  padding: .5em .5em .25em .5em;
  background:#dedede;
  /* to put the glow of the focused input field, above the label */
  position: relative;
  z-index: 1;
}

.form-item input,
.form-item textarea,
.webform-component input,
.webform-component textarea {
  display: block;
  /* to put the glow of the focused input field, above the label */
  position: relative;
  z-index: 2;
}

.ajax-comment-wrapper {
  padding: 1em;
  background: #eee;
  margin: 1em 0 0 0;
}


/*
-------------------------------------
  Hacks
-------------------------------------
*/

/* context beta-5 and beta-6 expose unwanted UI elements re: https://drupal.org/node/1905502 */
.context-block-region .region-name { display: none !important; }
.context-block-region a.context-ui-add-link { display: none !important; }

