
/* --------------------------------------------------
Responsive grid - #fuckomega
Because if you want something done right...
-------------------------------------------------- */

/* clear out some grid crap we cant opt-out of cause of omega */

#zone-navbar, /* occupy.net navbar */
#region-navbar, /* occupy.net navbar */
#zone-header,
#zone-footer,
#zone-menu{
  width: 100%;
  padding: 0;
  margin: 0;
}

#zone-header { min-width: 480px; }

#region-menu { width: auto; }

/*
-------------------------
Header
-------------------------
*/

#zone-navbar { height: 30px; overflow: hidden; }

/* undo grid bits where necessary
in an ideal world, omega would have a checkbox that simply says
no grid for this zone/region/section just cause you are using a grid
doesn't mean everything falls into it.
Zen here I come!
*/

#region-header,
.logo-img,
#block-ajax-register-ajax-register-block {
  margin: 0 0 0 0;
  width: auto;
  float: left;
}

#region-branding{
  width: auto;
  float: left;
}

#zone-menu {
  height: 4.25em;
  margin: 0 0 0 0;
  padding: 0;
  background: #aaa;
  position: relative;
  z-index: 899;
  box-shadow: 0px 3px 12px rgba( 0, 0, 0, .95 );
}

#zone-menu #region-menu-second{
  float: left;
  width: 49%;
  background: #f30;
  padding: 0;
  margin: 0;
}

#zone-menu #region-search{
  clear: none;
  width: auto;
  margin: 0 0 0 0;
  text-align: right;
  width: 100%;
}

#zone-menu #region-menu-second+#region-search{
  width: 50%;
  margin-left: 50%;
}

#zone-menu .region-search-inner{
/*  display: inline-block;
  width: 21.82em;
*/  text-align: left;
}

#block-boxes-occupation-count {
  display: inline-block;
  background: #000;
  margin: 0 0 0 2em;
  padding: .375em .5em .25em .5em;
  position: absolute;
  width: auto;
  white-space: nowrap;
}

#zone-menu .region-search-inner {
  text-align: left;
  right: 1em;
}

#region-search #edit-search {
  width: 100%;
}

#region-search #edit-search {
  margin: 1.5em 0 0 8.25em;

}

@media all and ( max-width: 580px ){
  #block-boxes-occupation-count { display: none; }
}

/* General width */
@media all and ( min-width: 845px ){
  
  /*
  -----------------------------------
    Content
  -----------------------------------
  */

/*  #zone-header:before {
    position: fixed;
    height: 1em;
    text-align: center;
    color: #fff;
    z-index: 5005;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba( 255, 0, 0, .875 );
    padding: .5em;
    content: "Greater than 845";
  }*/

  #zone-header {
    height: 54px;
    box-shadow: none;
  }

  #region-menu{
    float: right;
    width: auto;
    margin: 0;
  }

 #zone-menu .region-search-inner {
    text-align: left;
    float: right;
    position: absolute;
    right: .5em;
  }

  #region-search #edit-search {
    width: 21em;
    margin: .5em 0 0 0;
  }

  #block-ajax-register-ajax-register-block{
    padding: 1.25em 1em .875em 1em;
    background: #f9b018;
    line-height: 1.45;
    font-size: .875em;
  }

  #block-ajax-register-ajax-register-block ul li{
    margin-left: 0;
  }

  #zone-header {
    box-shadow: 0px 1px 3px rgba( 0, 0, 0, .3 );
    position: relative;
    z-index: 1000;
    background: #000;
  }

  #region-menu{
    clear: both;
    position: static;
  }

  #block-ajax-register-ajax-register-block{
    font-size: .875em;
    position: absolute;
    top: 0;
    right: .5em;
    background: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1.5em .5em 0 0;
    line-height: 1.2;
  }

  #block-ajax-register-ajax-register-block li {
    display: inline-block;
    padding: .25em;
    background: #222;
  }

  #block-ajax-register-ajax-register-block li+li {
    margin-left: .5em;
  }

  #block-ajax-register-ajax-register-block li a,
  nav.navigation li a{
    font-size: .925em;
    color: #fc0;
    display: inline;
    text-decoration: none;
  }

  #block-ajax-register-ajax-register-block li:hover {
    background: #000;
  }
}

