
/* --------------------------------------------------
Responsive grid - #fuckomega
Because if you want something done right...
-------------------------------------------------- */

/* clear out some grid crap we cant opt-out of cause of omega */

#zone-navbar, /* occupy.net navbar */
#region-navbar, /* occupy.net navbar */
#zone-header,
#zone-footer,
#zone-menu{
  width: 100%;
  padding: 0;
  margin: 0;
}

#zone-header { min-width: 480px; }

#region-menu { width: auto; }

/*
-------------------------
Header
-------------------------
*/

#zone-navbar { height: 30px; overflow: hidden; }

/* undo grid bits where necessary
in an ideal world, omega would have a checkbox that simply says
no grid for this zone/region/section just cause you are using a grid
doesn't mean everything falls into it.
Zen here I come!
*/

#region-header,
.logo-img,
#block-ajax-register-ajax-register-block {
  margin: 0 0 0 0;
  width: auto;
  float: left;
}

#region-branding{
  width: auto;
  float: left;
}

#zone-menu {
  margin: 0 0 0 0;
  padding: 0;
  background: #aaa;
  position: relative;
  z-index: 490;
  box-shadow: 0px 3px 12px rgba( 0, 0, 0, .95 );
}

#zone-menu #region-menu-second{
  float: left;
  width: 49%;
  background: #f30;
  padding: 0;
  margin: 0;
}

#zone-menu #region-search{
  clear: none;
  width: auto;
  margin: 0 0 0 0;
  text-align: right;
  width: 100%;
}

#zone-menu #region-menu-second+#region-search{
  width: 50%;
  margin-left: 50%;
}

#zone-menu .region-search-inner{
  text-align: left;
}

#block-boxes-occupation-count {
  display: inline-block;
  background: #000;
  margin: 0 0 0 2em;
  padding: .375em .5em .25em .5em;
  position: absolute;
  width: auto;
  white-space: nowrap;
}

#zone-menu .region-search-inner {
  text-align: left;
  right: 1em;
}

#region-search #edit-search {
  width: 100%;
}

/*
---------------------------------------------------------
Navigation
---------------------------------------------------------
*/

nav.navigation {
  float: right;
  height: 2.5em;
  border-left: 1px #000 solid;
}

nav.navigation ul,
nav.navigation li {
  height: 100%;
  margin-left: 0;
  padding-left: 0;
}

nav.navigation li {
  display: block;
  float: left;
  margin: 0 0 0 0;
  border-right: 1px #000 solid;
}

nav.navigation li a{
  color: #fc0;
  display: block;
  padding: 1em .75em .7125em .75em;
  text-decoration: none;
}

nav a.active { background: #000; color: #fc0; }
nav a:hover { background-color: #000; color: #fc0; }

@media all and ( max-width: 649px ) {
  

  #region-menu{
    width: 100%;
    font-size: .875em;
    margin: .5em 0 .25em 0;
    padding: 0;
    background: #222;
  }

  nav.navigation {
    float: left;
    height: 2em;
    margin-left: 4.75em;
    border: none;
    border-left: 1px #333 solid;
  }
  
  nav.navigation li {
    border-right: 1px #333 solid;
  }

  #block-ajax-register-ajax-register-block{
    position: absolute;
    right: 1em;
    top: -1.25em;
    padding-top: 1.875em;
    font-size: 1em;
  }

  #block-ajax-register-ajax-register-block li a {
    text-decoration: none;
    line-height: 3.3875em;
    color: #fc0;
  }

   #region-search #edit-search {
    width: 100%;
    margin: .5em 0 0 7em;
  }

}

@media all and ( max-width: 889px ){
  #block-boxes-occupation-count {
    display: none;
  }

 #block-ajax-register-ajax-register-block li {
    display: inline-block;
    padding: .25em;
    background: #222;
  }
  
  #block-ajax-register-ajax-register-block li+li {
    margin-left: .5em;
  }

  #block-ajax-register-ajax-register-block li a,
  nav.navigation li a{
    font-size: .925em;
    color: #fc0;
    text-decoration: none;
  }

}

@media all and ( min-width: 650px ) and ( max-width: 889px ){



  #zone-header {
    box-shadow: 0px 1px 3px rgba( 0, 0, 0, .3 );
    position: relative;
    z-index: 910;
    background: #000;
  }

  #zone-menu {
    height: 3em;
  }

  #region-menu{
    float: right;
    margin-right: 0;
  }

  #block-ajax-register-ajax-register-block{
    font-size: .875em;
    position: absolute;
    top: 4em;
    right: .5em;
    background: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1.5em .5em 0 0;
    line-height: 1.2;
  }


  #block-ajax-register-ajax-register-block li:hover {
    background: #000;
  }

  #region-search #edit-search {
    width: 100%;
    margin: .5em 0 0 7em;
  }




}

/* General width */
@media all and ( min-width: 890px ){

  /*
  -----------------------------------
    Content
  -----------------------------------
  */

  #region-menu{
    float: right;
    width: auto;
    margin: 0;
  }

  #zone-menu {
    height: 3.5em;
  }

  nav.navigation {
    float: left;
    height: 100%;
  }

  #zone-menu .region-search-inner {
    text-align: left;
    float: right;
    position: absolute;
    right: .5em;
  }

  #region-search #edit-search {
    width: 28em;
    margin: .5em 0 0 0;
  }

  #block-ajax-register-ajax-register-block{
    padding: 1.13em 1em .5em 1em;
    background: #f9b018;
    line-height: 1.45;
    font-size: .875em;
  }

  #block-ajax-register-ajax-register-block ul li{
    margin-left: 0;
  }


}

