
/* --------------------------------------------------
Responsive grid - #fuckomega
Because if you want something done right...
-------------------------------------------------- */

/* clear out some grid crap we cant opt-out of cause of omega */

#messages,
#zone-content,
#region-content,
#directory-map-wrapper,
#map-embed,
#region-footer-first,
footer{
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body,
#page { min-width: 480px; }

#region-menu {
  width: auto;
}

.not-front #region-sidebar-first .region-inner,
.not-front #region-sidebar-first .region-content-inner {
  margin-top: 3.125em;
}

.solr-search #region-sidebar-first .region-inner {
  margin-top: 0;
}


/*
------------------------------------------------------------
Footer
------------------------------------------------------------
*/

footer {
  box-shadow: 0 -.25em .5em rgba( 0, 0, 0, .675 );
}

footer #block-menu-menu-add-your-occupation {
  width: 300px;
  float: left;
}

footer #block-menu-menu-feeds-and-exports {
  width: 12em;
  float: right;
  padding-bottom: 3em;
  background-color: #aaa;
  border-left: 1px #000 solid;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer #block-menu-menu-feeds-and-exports:hover {
  transform: translate(0,-160px);
  -ms-transform: translate(0,-160px); /* IE 9 */
  -webkit-transform: translate(0,-160px); /* Safari and Chrome */
  -o-transform: translate(0,-160px); /* Opera */
  -moz-transform: translate(0,-160px); /* Firefox */
}

@media all and ( max-width: 650px ){

  .not-front #region-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .not-front #region-content .region-content-inner {
    margin: 0 2em 2em 2em;
    padding: 0 0 0 0;
  }

  #region-sidebar-first {
    position: static;
    width: 100%;
    clear: both;
    padding: 0;
    margin-top: 0;
  }

  #region-sidebar-first .region-inner {
    padding: 1em;
  }

  .block-facetapi {
    width: 23%;
    float: left;
  }

  .block-facetapi+.block-facetapi{
    margin-left: .125em;
  }

}

@media all and ( max-width: 580px ){
/*  #zone-header:before {
    position: fixed;
    height: 1em;
    text-align: center;
    color: #fff;
    z-index: 5005;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba( 255, 0, 0, .875 );
    padding: .5em;
    content: "Max 580";
  }*/

}

@media all and ( min-width: 651px ) and ( max-width: 844px ){

  .not-front #region-content .region-content-inner {
    margin: 0 14em 2em 0;
    padding-right: 2em;
    padding-top: 2em;
  }

  .not-front #region-sidebar-first{
    min-width: 14em;
    padding-top: 2em;
  }


}

/* General width */
@media all and ( min-width: 845px ){

  /*
  -----------------------------------
    Content
  -----------------------------------
  */

/*  #zone-header:before {
    position: fixed;
    height: 1em;
    text-align: center;
    color: #fff;
    z-index: 5005;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba( 255, 0, 0, .875 );
    padding: .5em;
    content: "Greater than 845";
  }
*/
  .not-front #zone-content {
    padding: 0;
    width: auto;
  }

  .not-front #region-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .not-front #region-content .region-content-inner {
    padding-right: 2em;
    margin: 0 18em 2em 8em;
    padding-top: 4em;
    max-width: 600px;
  }

  .not-front #region-sidebar-first{
    min-width: 16em;
    padding-top: 4em;
  }

}

@media all and ( min-width: 960px ) {

  .not-front #region-content .region-content-inner{
    max-width: 800px;
    margin: 0 28em 2em 8em;
    padding-top: 4em;
  }

  .not-front #region-sidebar-first{
    min-width: 22em;
    padding-top: 4em;
  }

  .solr-search.not-front #region-content .region-content-inner {
    width: 90%;
    max-width: 100%;
    padding-top: 0;
    margin: 0 0 0em 0;
  }

  .solr-search #region-sidebar-first{
    padding-top: 0;
  }
}


/*
-----------------------------------
  Nodes
-----------------------------------
*/

.not-front .occupation #region-content,
.not-front .occupation #region-content .region-content-inner{
  width: 100%;
  border: 1px #f00 solid;
  padding: 0 0 0 0;
  max-width: none;
}


@media all and ( max-width: 580px ){

}

@media all and ( min-width: 651px ) and ( max-width: 844px ){
}

@media all and ( min-width: 845px ) {}

/* General width */
@media all and ( max-width: 959px ){

  .occupation .ds-middle .group_header {
    position: absolute;
    top: 6em;
    left: 23em;
  }

  .occupation .ds-left .field-name-field-occupation-image{
    float: left;
  }

  .occupation .ds-left .field-name-field-occupation-website {
    float: left;
  }

  .occupation .ds-middle .group-occupation-description {
    margin-top: 1em;
  }

  .occupation .ds-left .group-contact {
    margin-left: 17.25em;
    margin-top: 6em;
  }

  .occupation .ds-left {
    position: relative;
    top: 0;
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-right: 3em;
  }


  .occupation .ds-middle {
    width: 46em;
  }


  .ds-middle {
    clear: both;
    position: static;
  }

  .occupation .ds-right {
    position: absolute;
    z-index: 2000;
    top: 15em;
    left: 7.5em;
  }

  .link-group {
    margin: 0 1em .125em 0;
    padding: 1em;
    font-size: .875em;
    background: #eee;
  }

  .link-group ul,
  .link-group .link-listing {
    padding: 0;
  }

  .occupation .ds-left a,
  .item-wrapper a,
  .link-group li a,
  .link-group li {
    display: inline-block;
    width: auto;
  }

  .ds-middle .link-group h3,
  .ds-middle .link-group .label-above {
    padding: 0em;
    margin-top: 0;
  }

  .link-group a,
  .occupation .ds-left a,
  .flyoutmenu .item-wrapper a,
  .occupation .ds-left .group-donate-info a,
  .link-group a:hover,
  .occupation .ds-left a:hover,
  .flyoutmenu .item-wrapper a:hover,
  .occupation .ds-left .group-donate-info a:hover {
    width: auto !important;
  }


}


@media all and ( min-width: 960px ) {

  .occupation .ds-left {
    display: inline-block;
    float: left;
    width: 14em;
    margin-left: .5em;
    margin-right: 3em;
  }

  .occupation .ds-middle {
    width: 46em;
    margin-left: 17em;
  }

  .occupation .ds-right {
    position: absolute;
    left: 70.75em;
    width: 10em;
    margin-top: 1.875em;
  }

  .link-group {
    width: 16.75em;
    margin: 0 1em 1em 0;
    padding: 0;
    font-size: .875em;
    background: #eee;
    display: inline-block;
    vertical-align: top;
    height: 19em;
  }

  .link-group a,
  .ds-middle .item-wrapper a,
  .occupation .ds-left a {
    display: block;
    width: 12em;
    clear: both;
  }

  .link-group:nth-child( 3n+3 ){
    margin-right: 0;
  }

  .link-group ul,
  .link-group .link-listing {
    border-bottom: 1px #000 solid;
    padding-left: 1em;
    height: 14.5em;
    overflow: auto;
    overflow-y: auto;
    overflow-x: visible;
  }

  .link-group a:hover,
  .occupation .ds-left a:hover,
  .flyoutmenu .item-wrapper a:hover,
  .occupation .ds-left .group-donate-info a:hover {
    color: #fc0;
    width: auto;
    margin-bottom:2px;
    text-overflow: visible;
    overflow: visible;
  }

  .ds-middle .link-group h3,
  .ds-middle .link-group .label-above {
    padding-left: .75em;
  }

}


/*
------------------------------------------------------------
Overrides
------------------------------------------------------------
*/

#region-sidebar-first{
  position: absolute;
  top: 0;
  right: 0px;
  margin: 0;
}

.field-name-mapbox-static-map-full {
  overflow: hidden;
  margin-bottom: 2em;
}

.field-name-mapbox-static-map-full img {
  overflow: hidden;
}

.solr-search #zone-content {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.not-front #section-content {
  padding-bottom: 8em;
}

.solr-search #section-content{
  padding-bottom: 0;
}

.occupation .group_meta {
  font-size: .875em;
  color: #666;
  line-height: 1.2;
  margin-bottom: 1em;
}

.occupation .field-name-title h1 {
  margin: 0;
  line-height: 1.125em;
}

.occupation .field-name-field-occupation-image {
  width: 14.75em;
  height: 14.75em;
  margin-left: -.25em;
  border: .5em #fafafa solid;
  box-shadow: 1px 1px 1px rgba( 0,0,0, .3 );
  margin-bottom: 1em;
}

.occupation .field-name-field-occupation-image img {
  display: block;
}

.occupation #region-content .region-content-inner {
  margin: 0 auto;
  padding-top: 3em;
  padding-left: 6em;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
