
/* --------------------------------------------------
Responsive grid - #fuckomega
Because if you want something done right...
-------------------------------------------------- */

/* clear out some grid crap we cant opt-out of cause of omega */

#messages,
#zone-content,
#region-content,
#directory-map-wrapper,
#map-embed,
#region-footer-first,
footer{
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body,
#page { min-width: 480px; }

#region-menu {
  width: auto;
}

.not-front #region-sidebar-first .region-content-inner {
  margin-top: 3.125em;
}

/*
------------------------------------------------------------
Content
------------------------------------------------------------
*/

#region-sidebar-first{
  position: absolute;
  top: 0;
  right: 0;
}

/*
------------------------------------------------------------
Footer
------------------------------------------------------------
*/

.not-front footer { 
  box-shadow: 0 -32px 32px rgba( 255, 255, 255, .98 );
}

footer #block-menu-menu-add-your-occupation {
  width: 300px;
  float: left;
}


footer #block-menu-menu-feeds-and-exports {
  width: 12em;
  float: right;
  padding-bottom: 3em;
  background-color: #aaa;
  border-left: 1px #000 solid;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer #block-menu-menu-feeds-and-exports:hover {
  transform: translate(0,-160px);
  -ms-transform: translate(0,-160px); /* IE 9 */
  -webkit-transform: translate(0,-160px); /* Safari and Chrome */
  -o-transform: translate(0,-160px); /* Opera */
  -moz-transform: translate(0,-160px); /* Firefox */
};

/*
this is here because the above transfor seems to breakthe following declartion 
no idea why
*/
#what { border: 0; }

.solr-search.not-front #region-sidebar-first {
  margin: 0;
}

/* why */


@media all and ( max-width: 650px ){

  .not-front #region-content { 
    width: 100%;
    float: none;
    margin: 0;
    padding: 0 0 3em 0;
  }

  .not-front #region-content .region-content-inner {
    margin: 4em 2em 2em 2em;
    padding: 0;    
  }

  #region-sidebar-first {
    position: static;
    width: 100%;
    clear: both;
    float: none;
    padding: 0;
    margin-top: 0;
  }
  
  #region-sidebar-first .region-inner {
    padding: 1em;
  }

  .solr-search #zone-content {
    margin-bottom: 12em;
  }

  .block-facetapi {
    width: 23%;
    float: left;
  }

  .block-facetapi+.block-facetapi{
    margin-left: 1%;
  }

}

@media all and ( max-width: 580px ){
/*  #zone-header:before {
    position: fixed;
    height: 1em;
    text-align: center;
    color: #fff;
    z-index: 5005;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba( 255, 0, 0, .875 );
    padding: .5em;
    content: "Max 580";
  }*/

}

@media all and ( min-width: 651px ) and ( max-width: 844px ){

  .not-front #region-content .region-content-inner {
    padding-right: 2em;
    margin: 2em 14em 2em 2em;
    max-width: 480px;
  }

  .solr-search.not-front #region-content .region-content-inner {
    max-width: 900px;
    padding-top: 2em;
    padding-left: 1em;
    margin: 0em 14em 2em 1em;
  }


  .not-front #region-sidebar-first{
    min-width: 14em;
  }


}

/* General width */
@media all and ( min-width: 845px ){
  
  /*
  -----------------------------------
    Content
  -----------------------------------
  */

/*  #zone-header:before {
    position: fixed;
    height: 1em;
    text-align: center;
    color: #fff;
    z-index: 5005;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba( 255, 0, 0, .875 );
    padding: .5em;
    content: "Greater than 845";
  }
*/
  .not-front #zone-content {
    padding: 0;
    width: auto;
  }

  .not-front #region-content { 
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
  }

  .not-front #region-content .region-content-inner {
    padding-right: 2em;
    margin: 4em 18em 2em 8em;
    max-width: 600px;
  }

  .not-front #region-sidebar-first{
    min-width: 16em;
  }

  .solr-search.not-front #region-content .region-content-inner {
    padding-top: 2em;
    padding-left: 1em;
    max-width: 820px;
    margin: 0em 16em 2em 1em;
  }

}

@media all and ( min-width: 960px ) {

  .not-front #region-content .region-content-inner{
    max-width: 800px;
    margin: 4em 28em 2em 8em;
  }

  .not-front #region-sidebar-first{
    min-width: 22em;
  }

  .solr-search.not-front #region-content .region-content-inner {
    padding-top: 2em;
    padding-left: 1em;
    margin: 0;
    margin: 0em 22em 2em 1em;
    max-width: 1030px;
    }

}

.occupations-list #region-content,
.occupations-list .region-content-inner {
  width: 100%;
}

.occupations-list #region-content .region-content-inner {
  padding-top: 1em;
  padding-left: 1em;
  margin: 0 auto;
  max-width: 1200px;
}
