/* This file will hold styles that are loaded using the same media query as the normal grid. */

#zone-navbar, /* occupy.net navbar */
#region-navbar, /* occupy.net navbar */
#zone-header,
#zone-footer,
#zone-menu,
#messages,
#zone-content,
.front #region-content,
#directory-map-wrapper,
#map-embed,
#region-footer-first,
footer{
  width: 100%;
  padding: 0;
  margin: 0;
}

#region-content .region-content-inner{
  max-width: 650px;
  padding: 0 30px;
  margin: 0 auto;
}

#region-sidebar-first {
  margin: 0;
  float: right;
  width: 23.35em;
}

.page-node #region-content #region-sidebar-first,
.page-node.not-front #region-content .region-content-inner{
  margin-top: 4em;
}


/*
-------------------------
Header
-------------------------
*/

#zone-navbar { height: 30px; }

/* undo grid bits where necessary
in an ideal world, omega would have a checkbox that simply says
no grid for this zone/region/section just cause you are using a grid
doesn't mean everything falls into it.
Zen here I come!
*/

#region-header,
#region-menu,
.logo-img,
#block-ajax-register-ajax-register-block {
  margin: 0 0 0 0;
  width: auto;
  float: left;
}

#region-branding{
  width: auto;
  float: left;
}

#zone-menu
#region-menu-second{
  float: left;
  width: 49%;
  background: #f30;
  padding: 0;
  margin: 0;
}

#zone-menu #region-search{
  clear: none;
  width: auto;
  text-align: right;
  width: 100%;
}

#zone-menu #region-menu-second+#region-search{
  width: 50%;
  margin-left: 50%;
}

#zone-menu .region-search-inner{
  display: inline-block;
  width: 21.82em;
  text-align: left;
}

#zone-menu .region-search-inner {
  padding: 1.25em .5em 1.25em 1em;
}

.page-search #zone-menu .region-search-inner{ 
  border-left: 1px #000 solid;
}

/*
------------------------------------------------------------
Footer
------------------------------------------------------------
*/


footer #block-menu-menu-add-your-occupation{
  width: 300px;
  float: left;
}


footer #block-menu-menu-feeds-and-exports{
  width: 12em;
  float: right;
  padding-bottom: 3em;
  background-color: #aaa;
  border-left: 1px #000 solid;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
footer #block-menu-menu-feeds-and-exports:hover{
  transform: translate(0,-160px);
  -ms-transform: translate(0,-160px); /* IE 9 */
  -webkit-transform: translate(0,-160px); /* Safari and Chrome */
  -o-transform: translate(0,-160px); /* Opera */
  -moz-transform: translate(0,-160px); /* Firefox */
};