/* just a little help with the responsive breakpoints */
#zone-header:before {
  position: fixed;
  height: 1em;
  text-align: center;
  color: #fff;
  z-index: 5005;
  bottom: 0;
  width: 100%;
  background: rgba( 255, 0, 0, .875 );
  padding: .5em;
  content: "Wide > 1100px";
}

/*
-------------------------
Header
-------------------------
*/


/*
-------------------------
Footer
-------------------------
*/
