/* just a little help with the responsive breakpoints */
#zone-header:before {
  position: fixed;
  height: 1em;
  text-align: center;
  color: #fff;
  z-index: 5005;
  bottom: 0;
  width: 100%;
  background: rgba( 255, 0, 0, .875 );
  padding: .5em;
  content: "Narrow < 800";
}




/*
-------------------------
Header
-------------------------
*/

#zone-navbar { height: 30px; }

/* undo grid bits where necessary
in an ideal world, omega would have a checkbox that simply says
no grid for this zone/region/section just cause you are using a grid
doesn't mean everything falls into it.
Zen here I come!
*/

#region-header,
#region-menu,
.logo-img,
#block-ajax-register-ajax-register-block {
  margin: 0 0 0 0;
  width: auto;
  float: left;
}

#region-branding{
  width: auto;
  float: left;
}

#zone-menu #region-menu-second{
  float: left;
  width: 49%;
  background: #f30;
  padding: 0;
  margin: 0;
}

#zone-menu #region-search{
  clear: none;
  width: auto;
  text-align: right;
  width: 100%;
}

#zone-menu #region-menu-second+#region-search{
  width: 50%;
  margin-left: 50%;
}

#zone-menu .region-search-inner{
  display: inline-block;
  width: 21.82em;
  text-align: left;
}

#zone-menu .region-search-inner {
  padding: 1.25em .5em 1.25em 1em;
}

.page-search #zone-menu .region-search-inner{ 
  border-left: 1px #000 solid;
}

/*
------------------------------------------------------------
Content
------------------------------------------------------------
*/


.page-node.not-front #region-content {
  background: #eee;
  margin: 0;
}

.page-node.not-front  #region-content .region-content-inner{
  background: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

.page-node.not-front #region-content .region-content-inner{
  margin-top: 4em;
}

.node-type-page #region-sidebar-first { background: #eee; }

/*
------------------------------------------------------------
Footer
------------------------------------------------------------
*/


footer #block-menu-menu-add-your-occupation{
  width: 300px;
  float: left;
}


footer #block-menu-menu-feeds-and-exports{
  width: 12em;
  float: right;
  padding-bottom: 3em;
  background-color: #aaa;
  border-left: 1px #000 solid;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
footer #block-menu-menu-feeds-and-exports:hover{
  transform: translate(0,-160px);
  -ms-transform: translate(0,-160px); /* IE 9 */
  -webkit-transform: translate(0,-160px); /* Safari and Chrome */
  -o-transform: translate(0,-160px); /* Opera */
  -moz-transform: translate(0,-160px); /* Firefox */
};