/*
------------------------------------
Type and Vertical Rythm Definitions
------------------------------------
*/

@font-face {
  font-family: 'Dosis Light';
  src: url("/sites/all/themes/occupy_directory/fonts/dosis/dosis-light-webfont.eot");
  src: url("/sites/all/themes/occupy_directory/fonts/dosis/dosis-light-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/occupy_directory/fonts/dosis/dosis-light-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy_directory/fonts/dosis/dosis-light-webfont.woff") format("woff"), url("/sites/all/themes/occupy_directory/fonts/dosis/dosis-light-webfont.svg#dosislight") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSansRoman';
  src: url("/sites/all/themes/occupy_directory/fonts/ptsans/PTC55F-webfont.eot");
  src: url("/sites/all/themes/occupy_directory/fonts/ptsans/PTC55F-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTC55F-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTC55F-webfont.woff") format("woff"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTC55F-webfont.svg#dosislight") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSansItalic';
  src: url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS56F-webfont.eot");
  src: url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS56F-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS55F-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS55F-webfont.woff") format("woff"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS55F-webfont.svg#dosislight") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PTSansBold';
  src: url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS75F-webfont.eot");
  src: url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS75F-webfont.ttf") format("truetype"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS75F-webfont.woff") format("woff"), url("/sites/all/themes/occupy_directory/fonts/ptsans/PTS75F-webfont.svg#dosislight") format("svg");
  font-style: normal;
  font-weight: normal;

}

body {
  font-family: 'PTSansRoman', helvetica, arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

i, em{
  font-family: 'PTSansItalic', helvetica, arial, sans-serif;
}

b, strong{
  font-family: 'PTSansBold', helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis Light', helvetica, arial, sans-serif; font-style: normal; font-weight: 300;
	color: #222;
	margin-top: 1em;
	margin-bottom: .5em;
	font-weight: 300;
}

nav, footer .menu{
  font-family: 'Dosis Light', helvetica, arial, sans-serif; font-style: normal; font-weight: 300;
}

h1 {
	font-size: 2.5em;
  text-transform: uppercase;
}

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4{
  font-size: 1.25em;
}

h5{
  font-size: .75em;
  letter-spacing: 1px;
}

.site-name{ margin: .5em 0 0 0; }

.not-front .site-name{
  margin-top: .7em;
}

nav {  font-size: 1.575em; }

header h1 a,
header h2 a,
header h3.block-title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 300;
  margin-top:1em;
}

h1.title {
  margin: 0 0 .75em;
  line-height: 1em;
}

.boxes-box-content h4{
	text-transform: uppercase;
}

article h2 {
  margin: 1.25em 0 .5em;
}

article p { /* affect all node types */
  margin-bottom: 1em;
}

article p:first-child{
  font-size: 1.25em;
  line-height: 1.125em;
}

.smaller{
  font-size: .75em;
}


