
/**
 * @file
 * Toolbar style for Administration menu.
 *
 * Important: We cannot re-use toolbar.png from Toolbar module, since we cannot
 * reliably determine the path to it.
 *
 * @todo Separate shortcut functionality into own module/widget.
 */

/* Adjust margin/height */
html body.admin-menu {
  margin-top: 29px !important;
}
body div#toolbar {
  top: 30px;
}

/**
 * Base styles.
 *
 * We use a keyword for the toolbar font size to make it display consistently
 * across different themes, while still allowing browsers to resize the text.
 */
#admin-menu {
  font: normal small "Lucida Grande", Verdana, sans-serif;
  position: fixed;
  margin: 0 -20px;
  padding: 0 20px;
  -moz-box-shadow: 0 3px 20px #000;
  -webkit-box-shadow: 0 3px 20px #000;
  box-shadow: 0 3px 20px #000;
  right: 0;
  width: auto;
}
#admin-menu-wrapper {
  font-size: .846em;
  padding: 5px 10px 0;
}

#admin-menu ul a {
  color: #fafafa;
}

/* Remove border from all lists and actions */
#admin-menu li.admin-menu-action a {
  border-left: 0;
}
#admin-menu li.admin-menu-icon > a {
  padding: 2px 10px 3px;
}

/**
 * Administration menu.
 */
#admin-menu li.admin-menu-icon > a span {
  vertical-align: text-bottom;
  width: 11px;
  height: 14px;
  display: block;
  background: url(toolbar.png) no-repeat 0 -45px;
  text-indent: -9999px;
}
#admin-menu > div > ul > li > a {
  border-right: 0;
  margin-bottom: 4px;
  padding: 2px 10px 3px;
}
#admin-menu ul li.admin-menu-toolbar-category > a,
#admin-menu ul li.admin-menu-action > a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#admin-menu ul li.admin-menu-toolbar-category > a.active-trail {
  text-shadow: #333 0 1px 0;
  background: url(toolbar.png) 0 0 repeat-x;
}
#admin-menu ul li.admin-menu-toolbar-category > a:hover {
  background-color: #444;
}
#admin-menu ul li.admin-menu-tab a {
  border-right: 0;
}
#admin-menu li li.expandable ul {
  margin: -22px 0 0 160px;
}

/**
 * Shortcuts toggle.
 */
#admin-menu li.admin-menu-shortcuts {
  float: right;
}
#admin-menu li.admin-menu-shortcuts span.toggle {
  cursor: pointer;
  background: url(toolbar.png) 0 -20px no-repeat;
  display: block;
  margin: 0 0 0 1.3em;
  text-indent: -9999px;
  overflow: hidden;
  width: 25px;
  height: 25px;
}
#admin-menu li.admin-menu-shortcuts span.toggle:focus,
#admin-menu li.admin-menu-shortcuts span.toggle:hover {
  background-position: -50px -20px;
}
#admin-menu li.admin-menu-shortcuts-active span.toggle {
  background-position: -25px -20px;
}
#admin-menu li.admin-menu-shortcuts-active span.toggle:focus,
#admin-menu li.admin-menu-shortcuts-active span.toggle:hover {
  background-position: -75px -20px;
}

/**
 * Shortcuts widget.
 */
#admin-menu li.admin-menu-shortcuts-active ul {
  display: block !important;
  left: 20px !important;
  right: 20px;
  width: auto;
}
#admin-menu li.admin-menu-shortcuts ul {
  background-color: #666;
  left: 20px !important;
  padding: 5px 10px;
  right: 20px;
  width: auto;
}
#admin-menu li.admin-menu-shortcuts ul li {
  background: transparent none;
  opacity: 1;
  width: auto;
}
#admin-menu li.admin-menu-shortcuts ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top: 0;
  padding: 5px 10px 5px 5px;
  margin-right: 5px;
}
#admin-menu li.admin-menu-shortcuts ul li a:hover {
  background: #555;
}
#admin-menu li.admin-menu-shortcuts ul li a.active:hover,
#admin-menu li.admin-menu-shortcuts ul li a.active {
  background: url(toolbar.png) 0 -20px repeat-x;
}
