/*
.filter-wrapper .filter-guidelines {
  display: none;
}

.admin-menu ul.menu li {
  list-style: none;
  float: left;
  padding: 10px;
  margin: 0 10px 0 0;
}

#content ul.menu,
#content ol.menu {
  padding: 0;
  margin: 0;
}

#page #content .block {
  margin: 0 0 40px 0;
}

fieldset.configure {
  padding: 20px;
}
*/