/* main stylesheet for directory.occupy.net */

body {
 font-family: Georgia, 'Times New Roman', serif;
 font-size: 16px;
 line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'OstrichSansMedium';
 letter-spacing: .075em;
 color: #333;
}
h1,h2 {
 margin-top: 1em;
 margin-bottom: .5em;
}
h1 {
 font-size: 2.5em;
}
h2 {
 font-size: 1.5em;
}
h3 {
 font-size: 1.375em;
 padding-bottom: .125em;
}

a:link, a:visited {
  color: #4298dd;
  text-decoration: underline;
}
a:hover, a:active {
  color: #666;
  text-decoration: none;
}
a:active {
  color: #3a87c5;
}


#section-header {
  background:#FFF;
}

.site-name {
 font-size: 2.25em;
 color: white;
 background: black;
 padding: .5em .5em .25em;
}

.site-name a:link, .site-name a:visited {
 color: white;
  text-decoration: none;
}

.site-name a:hover {
 color: #d0d0d0;
}

nav.navigation {
 margin-top: 30px;
}
nav a:link,
nav a:visited {
 font-family: 'OstrichSansMedium';
 font-size: 1.5em;
 color: white;
 background-color: black;
 display: inline-block;
 padding: .5em 1em;
 text-decoration: none;
 letter-spacing: .1em;
}
nav a:hover {
 background-color: #d0d0d0;
 color: black;
}


#main-menu li {
 padding: 0;
}


.zone-preface-wrapper {
 background-color: #d0d0d0;
}
.zone-content .region-inner {
  margin-bottom: 66px;
}
/*#zone-preface .block-fb774b8c338b94662d3aab27b7b1bfc9 { height: 25px; }*/


.block-user-menu ul li {
 list-style-type: none;
 display: inline-block;
 background: #efefef;
 padding: .25em .5em;
 margin-left: 1em;
 float: right;

  border-radius: 0 0 .4em .4em;
  -moz-border-radius: 0 0 .4em .4m;
  -webkit-border-radius: 0 0 .4em .4em;
}
.block-user-menu ul li a:link, .block-user-menu ul li a:visited {
  color: #aaa;
}
.block-user-menu ul li a:hover {
  color: #000;
  text-decoration:none;
}
.region-user-second ul li a{
 color: black;

}

.region-user-second {
 margin-top: 1em;
}


/* Occupation Node Detail Formatting */

article p { /* affect all node types */
  font-size:.9em;
  margin-bottom: 1em;
}


.field-group-format.grouplinks {
 margin-bottom: 1em;
}

.node-type-occupation .node .content.grid-6 {
 margin-left: 0;
}

.field-group-format.grouplinks a,
 #block-menu-menu-feeds-and-exports li a:link {
 background-color: black;
 color: white;
 display: inline-block;
 font-size: 1em;
 font-weight: 200;
 margin-bottom: .25em;
 max-width: 90%;
 overflow: hidden;
 padding: .25em .75em;
 text-decoration: none;
 text-transform: lowercase;
 line-height:1.1em;

  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;

}
 #block-menu-menu-feeds-and-exports li a:link,
 #block-menu-menu-feeds-and-exports li a:visited {
 font-family: 'OstrichSansMedium';
 font-size: 1em;
 letter-spacing: .1em;
 background-color: #aaa;
 color: white;

}

.field-group-format.grouplinks a:hover,
 #block-menu-menu-feeds-and-exports li a:hover{
 background-color: #d0d0d0;
 text-decoration: none;
 color: black;
}

#block-menu-menu-feeds-and-exports li a:hover{
 background-color: #000;
 text-decoration: none;
 color: #efefef;
}

.field-name-field-occupation-website {
  padding-bottom: 1em;
}

.field-name-field-occupation-image {
 float: right;
 padding-left: 1em;
 padding-bottom: 1em;
 padding-top: 1em;
}

.field-group-format.group_donate_info,
.field-group-format .field-name-field-occupation-address {
 margin: 1em 0;
}

.field-group-format .field-name-field-occupation-general-info .field-label{
 font-weight: bold;
 font-style: italic;
}

.content a:link {
 text-decoration: none;
}
.content a:hover {
 text-decoration: underline;
}


.node-occupation .node-links {
  margin-top: 1.5em;
}
.node-occupation .node-links li.last a {}


.context-get-involved .block-webform h2.node-title {
  display:none;
}


/* Comments */

article.comment {
  margin-bottom: 1.5em;
}
article.comment header h3 {
  margin: 0;  padding: 0;
}
article.comment footer { /* author + date */
  font-size:.8em;
  font-style:italic;
  margin-bottom:1.25em;
  color: #666;
}
article.comment .field-name-field-comment-state {
  background-color: #d6ff7d;
  padding: 5px 10px;
  display:inline-block;
}
article.comment nav.comment-links {
  margin-top: 1em;
}
article.comment nav.comment-links a {
  font-size: .8em;
}


/* hide log in or register to post comments since we use talk */
/*article.comment nav.comment-links li.comment_forbidden {
	display: none;
}*/

#comments h2.title {
  display: none;
}

div.talk-page li.comment_forbidden,
div.talk-page li.comment-add {
  display: inline-block;
  padding: 1em 0 1em 0;
  font-size:1.5em;
  font-style:italic;
}
div.talk-page li.comment-add:before {
  content: "+ ";
}



/**
 * VIEWS
 */

/* Exposed view search form formatting */
.zone-preface .block {
 padding: .75em 0;
}

#views-exposed-form-occupation-directory-occupations-list {
 font-size: .75em;
}
#views-exposed-form-occupation-directory-occupations-list label {
 display: inline;
 font-weight: normal;
 padding-left: 2em;
 padding-right: .5em;

}
#views-exposed-form-occupation-directory-occupations-list input,
#views-exposed-form-occupation-directory-occupations-list select,
#views-exposed-form-occupation-directory-occupations-list div {
 display: inline;
 margin: 0;
}
#views-exposed-form-occupation-directory-occupations-list div {
 padding: 0;
}
#views-exposed-form-occupation-directory-occupations-list select {
 max-width: 200px;
}
#views-exposed-form-occupation-directory-occupations-list input.form-submit {
 margin-left: .75em;
}


/* Occupation Directory Views table listing page */
div.view-display-id-occupations_list table img {
  padding-right: 8px;
  vertical-align: middle;
}







/* Apologies for this hack. Talk messes up the $node->content['links']['comment']['#links']
   array and override the comment_forbidden key. CSS to the rescue for now. */
.node-occupation .node-links .first {
  display: none;
}


#region-content {
  padding-top:1em;
/*  min-height: 100%;*/
}

#section-footer {
 background: #d0d0d0;
}
#zone-footer {
/* margin-top: 1em;*/
}
#zone-footer #block-menu-menu-feeds-and-exports h2 { padding-top: 1em; }
#block-menu-menu-feeds-and-exports ul,
#block-menu-menu-add-your-occupation ul {
  list-style-type: none;
  margin: 0;
  line-height:1;
}
#block-menu-menu-add-your-occupation {
  float:right;
}
#block-menu-menu-add-your-occupation ul li {
  list-style: none;
  font-style: italic;
  margin-top:0px;
  font-size:1.2em;
}
#block-menu-menu-add-your-occupation li a:link, #block-menu-menu-add-your-occupation li a:visited {
  color:#FFF;
}
#block-menu-menu-add-your-occupation li a:hover {
  color:#4298DD;
  text-decoration:none;
}
#block-menu-menu-feeds-and-exports li {
 display:inline;
 margin: 0 15px 0 0;
 padding:0;
 }

.block .view ul.pager {
  margin-top:.5em;
}


#block-block-1 p {
  padding:0; /*0 0 10px*/
  text-align:right;
  line-height:1;
}


/* full width map */


.fullwidth-map {
 /*background:#D0D0D0;*/
}
.fullwidth-map .zone-content .grid-12 {
  margin-left: 0;
  margin-right: 0;
}

.fullwidth-map #section-content { 
  padding-bottom: 0;
  background:#D0D0D0;
}
.fullwidth-map #region-content {
	padding: 0;
}
.fullwidth-map .zone-content .region-inner {
  margin-bottom: 0;
  line-height: 0.7em !important;
}
.fullwidth-map #section-footer {
 position:relative;
}
.fullwidth-map .zone-footer-wrapper {
	margin-top: 0;
}
.fullwidth-map .grid-6 {
	width: 45%;
	float: left;
}

.block h2 {margin:0;}

footer ul.menu { padding-top: 1em;}


div.view-display-id-occupations_list table img { }
 

/*****************  OPEN LAYERS ******/
/* Map pop-ups */ 
.openlayers-map .olPopup a:link, .openlayers-map .olPopup a:visited {
  color: #FFF;
}
.openlayers-map .olPopup a:hover {
  color: #4298DD;
  text-decoration: none;
}
.olControlPermalink a:link, .olControlPermalink a:visited {
  color:#fff;
  text-transform:lowercase;
}



/* stick the footer at the bottom of the page using CSS only
TODO: use javascript so that we can also set properties on the map element
also, not so hot when admin menu is on, and the homepage isn't as nice.
*/
html, body.not-front {
 height: 100%;
}
body.fullwidth-map {
 height: auto;
}
#page {
  min-height: 100%;
  position:relative;
}
#section-content {
  padding-bottom: 140px; /* height of the footer */
}
#section-footer {
 position:absolute;
 bottom: 0;
 width: 100%;
 height: 140px;
}
/* /end footer hack */



/* -----------------------------------------------------------
	page-occupations-cards 
----------------------------------------------------------- */
.page-occupations-cards .views-row {
	float: left;
	width: 220px;
	margin: 10px;
	display: inline-block;
	background: #eee;
	min-height: 400px;
}

.page-occupations-cards .views-row:first-child {
}
