html, body{
	height: 100%;
}

/*
	CSS Reset
 	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	overflow: hidden;
}

ol,
ul {
	list-style: none;
}

blockquote,
q{
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color: #fc0;
}

/*-----------------------------------
  Typography
-------------------------------------*/

body{
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	background: #424242;
}

h1, h2, h3, h4{
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	color:#222;
	text-decoration: italic;
	padding: 0;	
	margin: 0 0 .5em 0;
}

h1{ font-size: 24px; }
h2{ font-size: 36px; }
h3{ font-size: 24px; }
h4{ font-size: 18px; }

h3.title{
	line-height: 27px;
}

#directory_title {
	position: absolute;
	bottom: 0px;
}


#header{
	top: 0;
	background: #000;
	width: 100%;
	padding: .5em .5em;
}

h1 a{
	color: #666;
	text-decoration: none;
	padding-left: .25em;
}

/*-----------------------------------
  Map
-------------------------------------*/

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	width: 100%;
	height: 100%;
}

/*-----------------------------------
	Wax General
-------------------------------------*/

.wax-fade { opacity:0; }

#map-zoombox-box{
	position: absolute;
	top: 5em;
	left: 1em;
	width: 46px;
	height: 120px;
	background: #fff;
}

a.zoomer{
	position: absolute;
	top: 3em;
	left: .5em;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	background: #000;
	padding: .25em;
	text-align: center;
	line-height: 18px;
	color: #ddd;
	font-weight: bold;
	text-decoration: none;
}

a.zoomout{
	position: absolute;
	top: 5em;
}

.zoombox-box,
.boxselector-box {
  margin:0;
  padding:0;
  border:1px dashed #888;
  background: rgba(255,255,255,0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: none;
}

.zoombox-box-container,
.boxselector-box-container,
.pointselector-box-container {
  margin:0;
  padding:0;
  position:absolute;
  background: url(blank.gif);
  top:0;
  left:0;
}


/*-----------------------------------
  Legend
-------------------------------------*/


.wax-legends {
	display: none;
}

/*-----------------------------------
  Util
-------------------------------------*/

/*
including listing and wax-tooltip classes here to apply clearfix to them, without touching markup because it's rendered in with the maptiles.
*/
.wax-tooltip:before,
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.wax-tooltip:after,
.listing:after,
.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.wax-tooltip,
.listing,
.clearfix {
  zoom: 1;
}

/*-----------------------------------
	Tooltip
-------------------------------------*/



.wax-tooltip.wax-popup{
	width: 290px;
	height: 100%;
	overflow: auto;
	background: url( ../img/bg_white80.png );
	right: 0;
}


.wax-tooltip .tooltip-teaser{
	padding: 1em 1em .5em 1em;
	font-size: .5;
	color: #eee;
	position: absolute;
	line-height: 18px;
}


.wax-tooltip .tooltip-teaser a{
	text-decoration: none;
}

.wax-tooltip .tooltip-teaser h3{
	white-space: nowrap;
	text-decoration: none;
	color: #aaa;
	padding: .125em;
	margin-bottom: .25em;
	background: url( ../img/bg_black60.png );
}

.wax-tooltip .tooltip-teaser .founded{
	padding: .25em;
	background: url( ../img/bg_black60.png );	
	color: #aaa !important;
}

.wax-tooltip.wax-popup{
	top: 3em;
	font-size: 12px;
	line-height: 15px;
	padding: .5em;
}



.wax-tooltip.wax-popup a.close{
	background-image: url( ../img/icon-16x16-close.png );
	background-repeat: no-repeat;
	background-position top left;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	left: 1em;
	top: 1em;
	text-indent: -1000px;
	text-align: center;
	color:#aaa;
}

.wax-tooltip.wax-popup a.close:hover{
	background-position: top right;
}

.wax-tooltip .tooltip-inner a.close:hover{
	background: #489;
	color: #000;
}

.wax-tooltip .tooltip-inner .vcard,
.wax-tooltip .tooltip-inner .info,
.wax-tooltip .tooltip-inner .listings{
	padding: 1em;
	margin-bottom: .5em;
	background: url( '../img/bg_white60.png');
}

.wax-tooltip .tooltip-inner .listings ul{
	margin-bottom: 1.5em;
}

.wax-tooltip .tooltip-inner .founded{
	clear: both;
	margin-bottom: .75em;
}

.wax-tooltip .tooltip-inner .founded .bday{
	line-height: 18px;
}

.wax-tooltip .tooltip-inner .founded h6.label{
	float: left !important;
	display: inline-block;
	border-right: 1px #bababa solid;
	padding-right: .5em;
	margin-right: .5em;
}

.wax-tooltip .tooltip-inner .occupation-description{
	clear: both;
}
.wax-tooltip .tooltip-inner .website-url,
.wax-tooltip .tooltip-inner .general-email-address{
	clear: both;

}

/* hide geo */
.wax-tooltip .tooltip-inner .geo{
	display: none;
}

.wax-tooltip .tooltip-inner .taglink a{
	display: block;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: .5em .75em;
	margin: .25em;
	background: #000;
}

.wax-tooltip .tooltip-inner a{
	text-decoration: underline;
	color: #489;
}

.wax-tooltip .tooltip-inner .adr,
.wax-tooltip .tooltip-inner .general-phone{
	margin-top: 1.5em;
}

.wax-tooltip .tooltip-inner .listings ul li:hover a,
.wax-tooltip .tooltip-inner .listings li:hover a:hover{
	background: #489;
	color: #000;
}

.wax-tooltip .tooltip-inner .listings ul li{
	float: left;
}

.wax-tooltip .tooltip-inner .occupation-directory-url,
.wax-tooltip .tooltip-inner .website-url,
.wax-tooltip .tooltip-inner .general-email-address,
.wax-tooltip .tooltip-inner .listings ul li a{
	text-decoration: none;
}

.wax-tooltip .tooltip-inner .occupation-image{
	float: left;
	margin: 0 1em 0 0;
	-moz-box-shadow: 1px 1px 5px #aaa;
	-webkit-box-shadow: 1px 1px 5px #aaa;
	box-shadow: 1px 1px 8px #ccc;
}
.occupation-image {
  line-height:8px;
}

.wax-tooltip .tooltip-inner .occupation-title{
	margin-bottom: 1em;
}

.wax-tooltip .tooltip-teaser .tooltip-inner .occupation-title{
	margin-bottom: .5em;
}

.wax-tooltip .tooltip-inner .occupation-description{
	font-size: 15px;
	line-height: 18px;
}

.wax-tooltip .tooltip-inner h1,
.wax-tooltip .tooltip-inner h2,
.wax-tooltip .tooltip-inner h3,
.wax-tooltip .tooltip-inner h4,
.wax-tooltip .tooltip-inner h5,
.wax-tooltip .tooltip-inner h6{
	font-weight: 300;
	padding: 0;	
	margin: 0 0 .25em 0;
}

.wax-tooltip .tooltip-inner h1{ font-size: 48px; }
.wax-tooltip .tooltip-inner h2{ font-size: 36px; }
.wax-tooltip .tooltip-inner h3{
	word-wrap: break-word;
	font-size: 21px;
	line-height: 1.2;
	border-top: none !important;
}

.wax-tooltip .tooltip-inner h4{ font-size: 18px; }

.wax-tooltip .tooltip-inner h6.label{
	margin-top: 0;
	font-size: 15px;
	line-height: 18px;
}

/*-----------------------------------
  Overlay
-------------------------------------*/

	#search{
		width: auto;
		float: right;
		padding-right: 1em;
	}
	#search form.location {
		text-align: right;
	}

	#search form.location input[type='text']{
		border: 1px #444 solid;
		width: 300px;
		font-size: 12px;
		background: #000;
		line-height: 1.2;
		margin: .675em .5em .5em .5em;
	}

/*-----------------------------------
  Footer
-------------------------------------*/

#legend {
	position: absolute !important;
  bottom: 0px !important;
  left: 0px !important;
}


/*-----------------------------------
	Share
-------------------------------------*/

.wax-share {
	background:#666;
	background:rgba(32,32,32,0.75);
	position:absolute;
	width:100%;
	height:100%;
	top:0px; left:0px; right:0px; bottom:0px;
}

	.wax-share div {
	right:50%;
	top:50%;
	margin:-120px -180px 0px 0px;
	padding:19px;
	width:320px;
	height:200px;
	overflow:hidden;
	}

	.wax-share small { color:#999; }

	.wax-share textarea {
	display:block;
	font:normal 10px/15px Arial,sans-serif;
	resize:none;
	border:1px solid #ccc;
	padding:4px;
	width:310px;
	}

 .wax-share .twitter,
 .wax-share .facebook {
  display:inline-block;
  position:relative;
  padding:2px 18px;
  margin-right:10px;
  background:#fff;
  color:#fff;
  font-weight:bold;
  border:2px solid #ccc;
  }

 .wax-share .twitter {
  background:#0ac;
  border-color:#4ce;
  }

 .wax-share .facebook {
  background:#359;
  border-color:#68c;
  }

/* ### Error message ### */
.ts-error .error-message {
  background:#fff;
  position:absolute;
  right:50%;
  top:50%;
  margin:-50px -110px 0px 0px;
  padding:10px 0px;
  height:80px;
  width:220px;
  color:#999;
  text-align:center;
  font-weight:bold;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  box-shadow:#fff 0px 0px 40px;
  -moz-box-shadow:#fff 0px 0px 40px;
  -webkit-box-shadow:#fff 0px 0px 40px;
  }

#geocode-error {
  position: absolute;
  top: 41px;
  color: white;
  font-weight: bold;
}

/* Override image location */
 .zoomer,
 .close,
 .mapbox-watermark,
.ts-error .mapbox-logo { background-image:url(../img/map.png); }



/* =====================================
 Z-INDEXES
*/

#map,
#header,
#directory_title,
.wax-tooltip,
a.zoomer,
.wax-legends,
.wax-share,
.share,
.wax-tooltip.wax-popup a.close,
.wax-attribution{
	position: absolute;
}

#map{
	z-index: 5;
}
	
#header{
	z-index: 1015;
}

#directory_title {
	z-index: 105;
}

.wax-tooltip{
	z-index: 1014;
}

a.zoomer{
	z-index: 102;
}

a.zoomout{
	z-index: 103;	
}

.wax-legends{
	z-index: 14000;
}

.wax-share{
	z-index: 2000;
}

.share{
	z-index: 200;
	background: #fc0;
	color: #000;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: .25em;
	bottom: 1em;
	left: 1em;
}

.wax-attribution{
	display: none;
	bottom: 2em;
	text-align: right;
}

#searchButton{
	background: #fc0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position: relative;
	top: 3px;
	text-align: center;
}

.wax-tooltip .tooltip-teaser{
	z-index: 2002;
	left: 2em;
	top: 2em;
}