/**
 * @file
 * Display Suite occupation stylesheet.
 */

.ds-header {
  margin-bottom:40px;
}

.ds-left {}

.ds-right {
  border-left: 2px solid #efefef;
  padding-left: 20px;
}

.ds-footer {
  margin-top: 30px;
}
