.owstech-share {
	width: auto;
	display: inline-block;
}

.owstech-share .actuator {
	margin: 0;
	float: left;
	position: relative;
	z-index: 2;
	background: #000;
}

.owstech-share .actuator a{
	display: block;
	padding: .25em .375em;
	color: #fff;
	text-decoration: none;
}

.owstech-share:hover .actuator a{
	cursor: pointer;
	text-decoration: none;
	background: #fff;
	color: #000;
}

.owstech-share div.drawer {
	display: inline-block;
	padding: .125em .125em 0 .125em;
	z-index: 1;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all 450ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 450ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 450ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 450ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 450ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */	
}

.owstech-share:hover div.drawer{
	opacity: 1;
	left: 0;
	box-shadow: 0px 1px 1px #aaa;
}

.owstech-share ul,
.owstech-share li {
	margin: 0;
	padding: 0;
}

.owstech-share ul li {
	display: inline-block;
	margin-right: 1px;
	padding: .325em 0;
	box-shadow: 0px 1px 250px #000;
}

.owstech-share ul li a {
	display: block;
	text-indent: -3000px;
	width: 16px;
	height: 16px;
}

.owstech-share ul li a,
.owstech-share ul li a:visited,
.owstech-share ul li a:active {
	outline: none;
}

.owstech-share a.icon {
	opacity: .6;
}

.owstech-share a.icon:hover{
	opacity: 1;
} 

/* image sprite! */
.owstech-share a.icon.facebook{
	background: url( ../images/owstech_share_sprite_16.png ) 0 0;
}

.owstech-share a.icon.twitter{
	background: url( ../images/owstech_share_sprite_16.png ) -16px 0px;
}

.owstech-share a.icon.google-plus{
	background: url( ../images/owstech_share_sprite_16.png ) -48px 0 no-repeat;
}

.owstech-share a.icon.reddit{
	background: url( ../images/owstech_share_sprite_16.png ) -32px 0 no-repeat;
}
