/**
 * @file
 * Display Suite search-result stylesheet.
 */


.results-list>ul>li{
  padding: 1em;
  background: #eee;
  overflow: visible;
}

.results-list>ul>li:nth-child( even ) {
  background: #dedede;
}

.search-result .ds-left {
  width: 22em;
  clear: left;
  float: left;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}


.search-result .ds-right {
  margin-left: 24em;
  vertical-align: top;
}

.search-result .ds-left img {
  display: inline-block;
  margin-right: 1em;
}

.search-result .group_title_loc {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0;
}

.search-result h3.title {
  margin: 0;
  font-family: PTSans;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.375;
}

.search-result .title a {
  color: #222;
  text-decoration: none;
}

.search-result .title a:hover {
  text-decoration: underline;
}

.search-result .field-group-div {
  display: inline-block;
}

.search-result .label-above {
  color: #aaa;
  font-weight: normal;
  font-size: .875em;
}

.search-result .field-name-address-city-state-country {
  color: #666;
  line-height: 2;
}

.field-name-field-occupation-origin-date {
  float: right;
}

.group-linklists {

}