/**
 * @file
 * Display Suite search-result stylesheet.
 */

.ds-left {
  /* Styles for the "left" region go here */
  float: left;
  width: 20%;
}

.ds-right {
  /* Styles for the "right" region go here */
  float: left;
  width: 80%;
}
