/*
namespaced, but probably not terribly the best way to do this.
in some future iteration of the directory, we may eschew the ajaxy sidebar bit on the map
(since that data is available via the node view )
*/

#directory-map-wrapper .content{
	font-weight: normal;
	letter-spacing: .5px; 
	line-height: 1.5em
}

#directory-map-wrapper .content p{
	margin-bottom: 1em;
}

#directory-map-wrapper #legend h1 a {
	color: #dedede;
	padding-left: .25em;
}
#directory-map-wrapper #legend h1 a:hover {
  color: #dedede;
}

/*-----------------------------------
  Map
-------------------------------------*/

#directory-map-wrapper .map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	width: 100%;
	height: 100%;
}

/*-----------------------------------
	Wax General
-------------------------------------*/

#directory-map-wrapper .wax-fade { opacity:0; }

#directory-map-wrapper a.zoomer{
	position: absolute;
	top: .75em;
	left: .5em;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	background: #000;
	padding: .25em;
	text-align: center;
	line-height: 18px;
	color: #ddd;
	font-weight: bold;
	text-decoration: none;
}

#directory-map-wrapper a.zoomout{
	position: absolute;
	top: 2.75em;
}


/*-----------------------------------
  Util
-------------------------------------*/

.hidden{ display: none }

/*----------------------------
	Tooltips
------------------------------*/

#directory-map-wrapper .map-tooltip .tooltip-teaser{
	z-index: 2000;
	top: .25em;
	left: .25em;
	position: absolute;
	padding: .25em 1em .5em 1em;
	color: #eee;
	margin-bottom: .25em;
	border-radius: 3px;
}

.tooltip-teaser h3{
	position: static;
	width: auto;
	text-overflow: ellipsis;	
	padding: .25em .5em;
	line-height: 1.2;
	background: rgb( 0,0,0 );
	background: rgba( 0, 0, 0, .8 );
}

.flip-x .tooltip-teaser h3{
	position: relative;
	left: -100%;
}

.flip-y .tooltip-teaser h3{
	position: relative;
	top: -3em;
}

.flip-y.flip-x .tooltip-teaser h3{
	position: relative;
	top: -3em;
	left: -5em;
}

#directory-map-wrapper .tooltip-teaser a{
	text-decoration: none;
}


#directory-map-wrapper .map-tooltip{
	position: absolute;
	z-index: 910;
}


#directory-map-wrapper #embed_aux{
		width: 100%;
		padding: .25em;
		position: fixed;
		bottom: 0;
		z-index: 2000;
		background: rgb( 0, 0, 0 );
		background: rgba( 0, 0, 0, .7 );
	}


/*-----------------------------------
	Share
-------------------------------------*/

#directory-map-wrapper .ts-error,
#directory-map-wrapper .wax-share {
  background:#666;
  background:rgba( 0,0, 0, 0.85 );
  position:absolute;
  width:100%;
  height:100%;
  top:0; 
  left:0px;
  right:0px;
  bottom:0;
  }

#directory-map-wrapper .wax-share div {
  right:50%;
  top:50%;
  margin:-120px -180px 0px 0px;
  padding:19px;
  width:320px;
  overflow:hidden;
  }


#directory-map-wrapper .wax-share div {
  right:50%;
  top:50%;
  margin:-120px -180px 0px 0px;
  padding:19px;
  width:320px;
  overflow:hidden;
  }

#directory-map-wrapper .wax-share small { color:#999; }

#directory-map-wrapper .wax-share textarea {
  display:block;
  font:normal 10px/15px Arial,sans-serif;
  resize:none;
  border:1px solid #ccc;
  padding:4px;
  width:310px;
	clear: both;
 }

#directory-map-wrapper .wax-share .twitter,
#directory-map-wrapper .wax-share .facebook {
  display:block;
  padding:.5em 1em;
  margin: .5em 0;
  color:#000;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
  }

#directory-map-wrapper .wax-share h3{
	margin-bottom: 1em;
}
#directory-map-wrapper .wax-share h3,
#directory-map-wrapper .wax-share strong{
font-family: 'Dosis', sans-serif;
font-weight: 300;
color: #eee;
}

#directory-map-wrapper .wax-share .twitter {
  background:#0ac;
  }

#directory-map-wrapper .wax-share .facebook {
  background:#359;
  }

#directory-map-wrapper .wax-share>div{
	margin: 6em auto;
}
	
#directory-map-wrapper .small{
	font-size: .875em;
}

/* =====================================
 Z-INDEXES
*/

#directory-map-wrapper .map,
#directory-map-wrapper #header,
#directory-map-wrapper #directory_title,
#directory-map-wrapper a.zoomer,
#directory-map-wrapper .wax-share,
#directory-map-wrapper .share,
#directory-map-wrapper .wax-attribution{
	position: absolute;
}

#directory-map-wrapper .map{
	z-index: 5;
}
	
#directory-map-wrapper #header{
	z-index: 1015;
}

#directory-map-wrapper #directory_title {
	z-index: 105;
}

#directory-map-wrapper a.zoomer{
	z-index: 102;
}

#directory-map-wrapper a.zoomout{
	z-index: 103;	
}

#directory-map-wrapper .wax-share{
	z-index: 2500;
}

#directory-map-wrapper .button,
#directory-map-wrapper .share{
	z-index: 200;
	border: none;
	background: #fc0;
	color: #000;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: .5em;
	bottom: 1em;
	left: 1em;
}

#directory-map-wrapper .button:hover{
	background:#fc0;
	color:#000;
}

#directory-map-wrapper .share{ top: .75em; line-height: 1em; left: 2.75em; height: 1.125em; background:#000; color: #dedede;}

#directory-map-wrapper .share:hover{ background: #fc0; color:#000; }

#directory-map-wrapper textarea.embed{
	font-size: 1em;
	margin: 1em 0;
}